In [1]:
import numpy as np
import pandas as pd
import random
import os

<h2>Functions</h2>

<h3>General Functions</h3>

In [2]:
# Check if a Value is Nan
# param x - Value to check
# return boolean - If it is a Nan
def is_nan(x):
    return (x is np.nan or x != x)

# Check All Values in List are Nan
# param x - List to check
# return boolean - If it is all Nan
def list_is_nan(x):
    for i in x:
        if not is_nan(i): return False
    return True

<h3>Get Unique Values</h3>

In [3]:
# Get the Names of Employees in the HR Dataset
# param df (dataframe) - Dataframe with names
# Returns names (list) - Array of names (['First', 'Last'])
def get_names(df):
    names = [df.iloc[:, 0][i] for i in range(df.shape[0] - 1)]
    for i in range(len(names)):
        try:
            full_name = names[i].split(',')
            first = full_name[1].strip().split()[0]
            last = full_name[0]
            names[i] = [first, last]
        except: pass #print("Skipped: " + names[i])
    return names

# Filter to list of unique names
# param names (list) - List of names in the format [['Mia', 'Brown'],[..]]
# return unique (list) - List of names in the format ['Mia Brown', ..]
def filter_names(names):
    unique = [['Michael','Albert'], ['Mia','Brown'], ['Ivan','Rogers'], ['Julia','Soto'],
            ['Amy','Dunn'], ['Nan','Singh']]
    first = [n[0] for n in unique]
    last = [n[1] for n in unique]
    for name in names:
        if((name[0] not in first) and (name[1] not in last)):
            first.append(name[0])
            last.append(name[1])
            unique.append(name)
    return [",".join(name).replace(",", " ") for name in unique]

# Get the Unique Names of Employees in the HR Dataset
# param df (dataframe) - Dataframe with names
# return unique (list) - List of names in the format ['Mia Brown', ..]
def get_uniq_names(df):
    return filter_names(get_names(df))

# Get Unique String Values of a Dataframe Column
# param df (dataframe) - Source Dataframe
# param col_name (str) - Name of Column to get unique values'
# return uniq_arr (arr) - Array of Unique Values
def get_uniq_str(df, col_name):
    return [i.lower().strip() for i in df[col_name].unique()[:-1]]

# Get Unique String Values of a Dataframe Column
# param df (dataframe) - Source Dataframe
# param col_name (str) - Name of Column to get unique values'
# return uniq_arr (arr) - Array of Unique Values
def get_uniq_num(df, col_name):
    return [str(int(i)) for i in df[col_name].unique()[:-1]]

# Generate a Dictionary with Unique Values for Select Columns
# param df (dataframe) - Source Dataframe
# return uniq (dict) - Dictionary that maps entities to unique values
def gen_uniq_dict(df):
    # Get Unique Values of Relevant Columns
    uniq = {}
    # Predefined
    uniq['name'] = get_uniq_names(df)
    uniq['sex'] = ['male', 'female']
    uniq['employment_status'] = ['active', 'voluntarily terminated', 'terminated for a cause',
                          'on a leave of absence' + 'going to start work in the future']
    uniq['performance_score'] = ['fully meet performance expecations', 'are too early to review', 
                         'meet 90-day expectations', 'are exceptional', 'need improvement', 'exeed expecations']
    # Custom Preprocessing
    uniq['state'] = hr_data['State'].unique()[:-1]
    # Standard Preprocessing 
    uniq['age'] = get_uniq_num(hr_data, 'Age')
    uniq['maritaldesc'] = get_uniq_str(hr_data, "MaritalDesc")
    uniq['citizendesc'] = get_uniq_str(hr_data, "CitizenDesc")
    uniq['department'] = get_uniq_str(hr_data, "Department")
    uniq['position'] = get_uniq_str(hr_data, "Position")
    uniq['manager'] = get_uniq_str(hr_data, "Manager Name")
    uniq['employee_source'] = get_uniq_str(hr_data, "Employee Source")
    return uniq

<h3>Load, Parse and Clean Entity Data</h3>

In [4]:
# Load entity data frame from CSV
# param path (str) - Path to csv
# return ent_df (dataframe) - Entity Info Dataframe
def load_ent(path):
    df = pd.read_csv('entities.csv').iloc[:, :4]
    ct = 0
    while (ct < len(df) and not list_is_nan(df.iloc[ct, :].values)): ct += 1
    return df.iloc[:ct, :]

# Parse CSV that contains [Entity, Options, Synonyms, Gazetteer]
# param ent_df (dataframe) - Contains the columns listed above
# return ent_dict (dict) - Uncleaned dictionary where the keys are the entities
#                          and the values are [options (arr), synonyms (arr), gazetteer (arr)]
def ent_parse(ent_df):
    ent_dict = {}
    ct = 0
    curr_ent = ''
    while(ct < len(ent_df)):
        row = ent_df.iloc[ct]
        # update curr_ent if new entity
        if(not is_nan(row['Entity'])): 
            curr_ent = row['Entity']
            ent_dict[curr_ent] = [[], [], []]
        # check if options is a list
        if(not is_nan(row['Options']) and row['Options'].count(',') > 2):
            ent_dict[curr_ent][0] = row['Options']
            if(not is_nan(row[3])): ent_dict[curr_ent][2] = row['Gazetteer']
        # single entry in option column
        else:
            ent_dict[curr_ent][0].append(row['Options'])
            ent_dict[curr_ent][1].append(row['Synonyms'])
            ent_dict[curr_ent][2].append(row['Gazetteer'])
        ct += 1
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_options(ent_dict):
    for i in ent_dict.keys():
        old_opt = ent_dict[i][0]
        new_opt = []
        for word in old_opt:
            if(not is_nan(word)):
                new_opt.append(word.replace("'", "").replace(",", ""))
        ent_dict[i][0] = new_opt
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_synonyms(ent_dict):
    for i in ent_dict.keys():
        old_syn = ent_dict[i][1]
        new_syn = []
        if(len(old_syn) != 0):
            for j in old_syn:
                if(not is_nan(j)): new_syn.append([string.strip() for string in j.split(',')])
                else: new_syn.append(j)
        ent_dict[i][1] = new_syn
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_gazetteer(ent_dict):
    for i in ent_dict.keys():
        old_gaz = ent_dict[i][2]
        clean_gaz = []
        if (len(old_gaz) != 0):        
            if (type(old_gaz) is str): clean_gaz = old_gaz.split(',')
            elif(not is_nan(old_gaz[0])): clean_gaz = (old_gaz[0].split(','))
        ent_dict[i][2] = [i.strip() for i in clean_gaz]
    return ent_dict

# Cleans an Entity Dictionary
# ent_dict (dict) - Uncleaned dictionary of parsed entity information
# uniq (dict) - Dictionary that maps entities to unique values
# return cleaned_ent_dict (dict) - Cleaned dictionary
def clean_ent_dict(ent_dict, uniq):
    ent_dict = clean_options(ent_dict)
    ent_dict = clean_synonyms(ent_dict)
    ent_dict = clean_gazetteer(ent_dict)
    ent_dict['name'][0] = uniq['name']
    ent_dict['state'][0] = uniq['state']
    ent_dict['age'][0] = uniq['age']
    ent_dict['manager'][0] = uniq['manager']
    return ent_dict

# Parse and Clean Entity Data
# Parse CSV that contains [Entity, Options, Synonyms, Gazetteer]
# param ent_df (dataframe) - Contains the columns listed above
def parse_clean_ent(ent_df, uniq):
    ent = ent_parse(ent_df)
    return clean_ent_dict(ent, uniq)

<h3>File Generation</h3>

In [5]:
# Convert a list into a text file
# param folder (str) - Name of the folder to write the file
# param lines (list) - List of values to write to file
def list_to_txt_file(folder, lines):
    directory = 'entities/' + folder + '/'
    if not os.path.exists(directory): os.makedirs(directory)
    with open(directory + 'gazetteer.txt', 'w+') as filehandle:  
        filehandle.writelines("%s\n" % line for line in lines)

In [6]:
def whitelist_gen():
    pass

In [7]:
# Generate a Gazetter List for an Entity
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
# param entity (str) - The entity to generate the gazetteer list for
# return gaz (list) - List of gazetteer word relevant to the entity
def gen_gaz_list(ent_dict, entity):
    gaz = []
    gaz.extend(ent_dict[entity][0])
    for syn in ent_dict[entity][1]:
        if(not is_nan(syn)): gaz.extend(syn)
    gaz.extend(ent_dict[entity][2])
    return gaz

# Create Gazetteer Files for Every Entity in an Entity Dictionary
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
def gen_gazetteers(ent_dict):
    for entity in ent_dict.keys():
        gaz_list = gen_gaz_list(ent_dict, entity)
        list_to_txt_file(entity, gaz_list)

<h2>Workflow</h2>

<h4>Load Data</h4>

In [8]:
hr_data = pd.read_csv('core_dataset.csv')
#hr_data

<h4>Create Unique Values Dictionary</h4>

In [11]:
uniq = gen_uniq_dict(hr_data)

<h4>Load Entities</h4>

In [12]:
ent_df = load_ent('entities.csv')
ent_df

,Entity,Options,Synonyms,Gazetteer
0,name,"['Mia', 'Brown'], ['William', 'LaRotonda'], ['...",NaN,NaN
1,state,"MA', 'TX', 'CT', 'VA', 'VT', 'CA', 'WA', 'NH',...",NaN,"state, state of birth, state of residence"
2,zip,NaN,NaN,NaN
3,age,"32', '33', '31', '29', '30', '38', '63', '46',...",NaN,NaN
4,sex,male,"men, males, guys, dudes, gents, gentlemen, boys","sex, gender, masculine, feminine, male person"
5,NaN,female,"women, females, ladies, lady, ladys, girls, ga...",NaN
6,maritaldesc,married,"wed, legally married, espoused, joined in holy...","husbandless, without a partner, unwedded, wife..."
7,NaN,divorced,NaN,NaN
8,NaN,single,"unmarried, bachelor, bachelorette",NaN
9,NaN,separated,NaN,NaN
10,NaN,widowed,NaN,NaN
11,citizendesc,us citizen,NaN,"immigrant, illegal immigrant, h1 visa, foreign..."
12,NaN,eligible noncitizen,NaN,NaN
13,NaN,non-citizen,NaN,NaN
14,racedesc,black or african american,NaN,"ethnicity, race, racial background, ethnic gro..."
15,NaN,asian,from asia,NaN
16,NaN,two or more races,"multiracial, multi-racial, mixed, mixed race, ...",NaN
17,NaN,"white',",caucasian,NaN
18,NaN,"hispanic',",NaN,NaN
19,NaN,american indian or alaska native',NaN,NaN
20,reason_for_termination,"return to school',","went back to school, had to go to school again...",NaN
21,NaN,"another position',","took on another job, landed a new position, ch...",NaN
22,NaN,"unhappy',","wasn't happy, didn't like his job, didn't like...",NaN
23,NaN,"military',","joined the military, went to the military, lef...",NaN
24,NaN,"gross misconduct',",NaN,NaN
25,NaN,"hours',",NaN,NaN
26,NaN,"medical issues',","got sick, fell sick, medical problems, sick",NaN
27,NaN,"relocation out of area',","was relocated, had to relocated, was assigned ...",NaN
28,NaN,"more money',",NaN,NaN
29,NaN,"career change',",changed careers,NaN
...,...,...,...,...
84,NaN,"diversity job fair',",NaN,NaN
85,NaN,"careerbuilder',",NaN,NaN
86,NaN,"mbta ads',","advertisement, ads",NaN
87,NaN,"word of mouth',",verbal mention,NaN
88,NaN,"other',",NaN,NaN
89,NaN,"vendor referral',","referred by vendor, vendor referred",NaN
90,NaN,"on-campus recruiting',","on-campus job fair, career fair",NaN
91,NaN,"website banner ads',",NaN,NaN
92,NaN,"employee referral',",referred by employee,NaN
93,performance_score,"exceptional',",extraordinary,"performance rating, performance score"
94,NaN,"fully meets',","up to the mark, meet expectations",NaN
95,NaN,"n/a- too early to review',",NaN,NaN
96,NaN,"pip',",NaN,NaN
97,NaN,"needs improvement',",NaN,NaN
98,NaN,"exceeds',","beyond expectations, more than expected, bette...",NaN
99,NaN,90-day meets',NaN,NaN
100,money,pay rate,"salary, income, pay, earn, earnings, make","earns, makes, amount"
101,comparator,more than,"greater than, higher than",NaN
102,NaN,equals to,"is exactly, is equal to, equates to",NaN
103,NaN,less than,"lower than, below",NaN
104,date_time,"date of hire',","start date, date of starting employment",NaN
105,NaN,"date of termination',","end date, date of leaving job, date of ending ...",NaN
106,NaN,"dob',","birthday, birthdate, birth date, date of birth...",NaN
107,function,percent,"fraction, portion, proportion, percentage",NaN
108,NaN,sum,"total, cumulative, added up, summed up. totall...",NaN
109,NaN,average,mean,NaN
110,extreme,highest,"top, maximum, most, greatest",NaN
111,NaN,lowest,"least, minimum, bottom, lowest",NaN
112,employment_action,hired,employed,NaN
113,NaN,terminated,"fired, let go",NaN

In [13]:
ent_dict = parse_clean_ent(ent_df, uniq)
ent_dict

{'name': [['Michael Albert',
   'Mia Brown',
   'Ivan Rogers',
   'Julia Soto',
   'Amy Dunn',
   'Nan Singh',
   'William LaRotonda',
   'Tyrone Steans',
   'Estelle Howard',
   'Leigh Smith',
   'Brandon LeBlanc',
   'Sean Quinn',
   'Bonalyn Boutwell',
   'Janet King',
   'Jennifer Zamora',
   'Renee Becker',
   'Taisha Goble',
   'Daniff Hernandez',
   'Jayne Horton',
   'Noelle Johnson',
   'Thomas Murray',
   'Randall Pearson',
   'Thelma Petrowsky',
   'Lori Roby',
   'Jason Salter',
   'Kramer Simard',
   'Simon Roup',
   'Ricardo Ruiz',
   'Peter Monroe',
   'Eric Dougall',
   'Rick Clayton',
   'Lisa Galia',
   'Leonara Lindsay',
   'Alejandro Bacong',
   'Anthony Cisco',
   'Linda Dolan',
   'Maria Gonzalez',
   'Carlos Merlos',
   'Tanya Morway',
   'Anita Shepard',
   'Neville Tredinnick',
   'Jumil Turpin',
   'Karthikeyan Ait Sidi',
   'Claudia Carr',
   'Donald Favis',
   'Bianca Roehrich',
   'Ann Daniele',
   'Jyoti Lajiri',
   'Jeremiah Semizoglou',
   'Joe South',
   'Sarah Warfield',
   'Elisa Bramante',
   'Charles Bozzi',
   'Webster Butler',
   'Elijiah Gray',
   'Jonathan Hogland',
   'Walter Immediato',
   'Ketsia Liebig',
   'Brannon Miller',
   'Ebonee Peterson',
   'Kelley Spirea',
   'David Stanley',
   'Kissy Sullivan',
   'Courtney Wallace',
   'Wilson Adinolfi',
   'Trina Alagbe',
   'Carol Anderson',
   'Sam Athwal',
   'Rachael Baczenski',
   'Francesco Barone',
   'Nader Barton',
   'Lowan Biden',
   'Helen Billis',
   'Donna Brill',
   'Josephine Bugali',
   'Beatrice Chace',
   'Lin Chan',
   'Donovan Chang',
   'Enola Chivukula',
   'Caroline Cierpiszewski',
   'Elijian Clukey',
   'James Cockel',
   'Spencer Cole',
   'Jean Crimmings',
   "Jene'ya Darson",
   'Carl Desimone',
   'Geoff Dickinson',
   'Lily DiNocco',
   'Denisa Dobrin',
   'Marianne Eaton',
   'Rex England',
   'Miguel Estremera',
   'April Evensen',
   'Susan Ferguson',
   'Nilson Fernandes',
   'Violeta Ferreira',
   'Libby Fidelia',
   'Raul Garcia',
   'Hamish Garneau',
   'Barbara Gaul',
   'Mildred Gentry',
   'Melisa Gerke',
   'Alex Gilles',
   'Evelyn Girifalco',
   'Shenice Gold',
   'Roxana Goyal',
   'Paula Gross',
   'Joanne Handschiegl',
   'Ludwick Harrell',
   'Christie Harrington',
   'Kara Harrison',
   'Rose Ivey',
   'Maryellen Jackson',
   'Hannah Jacobi',
   'Sneha Jhaveri',
   'Judy Jung',
   'Kathleen Kinsella',
   'Alexandra Kirill',
   'Bradley Knapp',
   'John Kretschmer',
   'Enrico Langton',
   'Dallas Leach',
   'Marilyn Linares',
   'Allison Lydon',
   'Lindsay Lynch',
   'Samuel MacLennan',
   'Lauren Mahoney',
   'Debbie Mangal',
   'Shana Maurice',
   'Sandy Mckenna',
   'Elizabeth Meads',
   'Dawn Motlagh',
   'Colombui Ndzi',
   'Richard Newman',
   'Shari Ngodup',
   'Lei-Ming Nguyen',
   "Lynn O'hare",
   'Adeel Osturnka',
   'Clinton Owad',
   'Nina Panjwani',
   'Emil Pelech',
   'Shakira Perry',
   'Hong Pham',
   'Brad Pitt',
   'Morissa Power',
   'Louis Punjabhi',
   'Janine Purinton',
   'Quinn Rarrick',
   'Haley Rivera',
   'Alain Robinson',
   'Ashley Rose',
   'Bruno Rossetti',
   'Melinda Saar-Beckles',
   'Nore Sadki',
   'Kamrin Sander',
   'Nori Sewkumar',
   'Seffi Shields',
   'Taylor Sparks',
   'Kristen Squatrito',
   'Desiree Tavares',
   'Sophia Theamstern',
   'Theresa Tinto',
   'Jeanette Tippett',
   'Mei Trang',
   'Abdellah Veera',
   'Colleen Volk',
   'Anna Von Massenbach',
   'Scott Whittier',
   'Barry Wilber',
   'Jacquelyn Williams',
   'Catherine Ybarra',
   'Kimberly Beak',
   'Dianna Blount',
   'Betsy Bondwell',
   'Joseph Buccheri',
   'Joelle Burke',
   'Benjamin Burkett',
   'Phil Close',
   'Daniel Davis',
   'Carla Demita',
   'Angela Erilus',
   'Megan Faller',
   'Nicole Fancett',
   'Phylicia Gosciminski',
   'Earnest Hankard',
   'Adrienne Homberger',
   'Julissa Hunts',
   'Rosalie Hutter',
   'Ming Huynh',
   'Tayana Jeannite',
   'Yen Johnston',
   'Lindsey Langford',
   'Mohammed Latif',
   'Mathew Linden',
   'Robyn Manchester',
   'Karen Mancuso',
   'Brigit McCarthy',
   'Erasumus Monkfish',
   'Luisa Monterro',
   'Patrick Moran',
   'Maliki Moumanil',
   'Kristie Nowlan',
   'Brooke Oliver',
   'Ermine Pelletier',
   'May Roberson',
   'Adil Sahoo',
   'Constance Sloan',
   'Lenora Tejeda',
   'Kenneth Thibaud',
   'Cybil Trzeciak',
   'Roger Walker',
   'Jordan Winthrop',
   'Hang Wolk',
   'Edward Buck',
   'Jessica Bunbury',
   'Michelle Carter',
   'Latia Costa',
   'Jenna Dietrich',
   'Alfred Digitale',
   'Maruk Fraval',
   'Gerry Friedman',
   'Whitney Gill',
   'Myriam Givens',
   'Mike Guilianno',
   'J e r e m y   P r a t e r',
   'Bartholemew Khemmich',
   'Giovanni Leruth',
   'Jac McKinzie',
   'Howard Mullaney',
   'Jasmine Onque',
   'Travis Ozark',
   'Xana Potts',
   'Caitrin Strong',
   'Sharlene Terry',
   'Jackie Valentin',
   'Noah Villanueva',
   'Debra Houlihan',
   'Donysha Kampew',
   'Colby Andreola',
   'Judith Carabbio',
   'Keyla Del Bosque',
   'Sandra Martin',
   'Luke Patronick',
   'Adell Saada',
   'Andrew Szabo'],
  [],
  []],
 'state': [array(['MA', 'TX', 'CT', 'VA', 'VT', 'CA', 'WA', 'NH', 'NY', 'OH', 'IN',
         'ID', 'TN', 'NV', 'CO', 'UT', 'AL', 'GA', 'FL', 'NC', 'KY', 'ND',
         'MT', 'OR', 'AZ', 'ME', 'RI', 'PA'], dtype=object),
  [],
  ['state', 'state of birth', 'state of residence']],
 'zip': [[], [nan], []],
 'age': [['32',
   '33',
   '31',
   '29',
   '30',
   '38',
   '63',
   '46',
   '36',
   '47',
   '37',
   '44',
   '54',
   '49',
   '28',
   '48',
   '42',
   '53',
   '66',
   '34',
   '52',
   '39',
   '45',
   '41',
   '40',
   '62',
   '43',
   '59',
   '27',
   '67',
   '50',
   '35',
   '26',
   '25',
   '65',
   '51',
   '58',
   '56',
   '64'],
  [],
  []],
 'sex': [['male', 'female'],
  [['men', 'males', 'guys', 'dudes', 'gents', 'gentlemen', 'boys'],
   ['women', 'females', 'ladies', 'lady', 'ladys', 'girls', 'gals', 'woman']],
  ['sex', 'gender', 'masculine', 'feminine', 'male person']],
 'maritaldesc': [['married', 'divorced', 'single', 'separated', 'widowed'],
  [['wed',
    'legally married',
    'espoused',
    'joined in holy matrimony',
    'hitched'],
   nan,
   ['unmarried', 'bachelor', 'bachelorette'],
   nan,
   nan],
  ['husbandless',
   'without a partner',
   'unwedded',
   'wifeless',
   'no longer married',
   'without a husband',
   'without a wife',
   'maritaldesc',
   'marital status']],
 'citizendesc': [['us citizen', 'eligible noncitizen', 'non-citizen'],
  [nan, nan, nan],
  ['immigrant',
   'illegal immigrant',
   'h1 visa',
   'foreigner',
   'foreign',
   'imported',
   'out of country',
   'from abroad',
   'citizenship status',
   'citizenship']],
 'racedesc': [['black or african american',
   'asian',
   'two or more races',
   'white',
   'hispanic',
   'american indian or alaska native'],
  [nan,
   ['from asia'],
   ['multiracial',
    'multi-racial',
    'mixed',
    'mixed race',
    'biracial',
    'interracial'],
   ['caucasian'],
   nan,
   nan],
  ['ethnicity',
   'race',
   'racial background',
   'ethnic group',
   'ethnic type',
   'racial indentity',
   'community']],
 'reason_for_termination': [['return to school',
   'another position',
   'unhappy',
   'military',
   'gross misconduct',
   'hours',
   'medical issues',
   'relocation out of area',
   'more money',
   'career change',
   'n/a - has not started yet',
   'retiring',
   'n/a - still employed',
   'attendance',
   'no-call no-show',
   'maternity leave - did not return',
   'performance'],
  [['went back to school',
    'had to go to school again',
    'needed to go back to school',
    'went back to college'],
   ['took on another job',
    'landed a new position',
    'changed positions',
    'got a new position',
    'found a new position'],
   ["wasn't happy",
    "didn't like his job",
    "didn't like her job",
    'hated the job',
    'disliked the job',
    "didn't enjoy the job",
    "didn't like his work",
    "didn't like her work"],
   ['joined the military',
    'went to the military',
    'left for the military',
    'enlisted in the military',
    'was drafted into the military'],
   nan,
   nan,
   ['got sick', 'fell sick', 'medical problems', 'sick'],
   ['was relocated',
    'had to relocated',
    'was assigned to a new location',
    'was assigned to a different location'],
   nan,
   ['changed careers'],
   nan,
   ['retired', 'went into retirement'],
   nan,
   ['poor attendance', 'bad attendance'],
   nan,
   ['did not come back from maternity leave', 'had a kid and dissapeared'],
   ['poor performance', 'performed below expectations']],
  []],
 'employment_status': [['terminated for cause',
   'leave of absence',
   'active',
   'voluntarily terminated',
   'future start'],
  [['fired', 'let go', 'evicted', 'kicked out', 'removed', 'dismissed'],
   ['on absence leave'],
   ['currently employed', 'currently working', 'currently works'],
   ['quit', 'quitted', 'resigned', 'sent in a resignation'],
   ['will start at a future time',
    'will start later',
    'will start some time in the future']],
  ['renounce', 'employment status', 'current job status']],
 'department': [['executive office',
   'admin offices',
   'production',
   'it/is',
   'software engineering',
   'sales'],
  [nan, nan, nan, nan, ['programming', 'coding', 'software development'], nan],
  ['department', 'team', 'group', 'section', 'division', 'sector']],
 'position': [['it manager - infra',
   'cio',
   'sales manager',
   'president & ceo',
   'administrative assistant',
   'database administrator',
   'area sales manager',
   'it director',
   'sr. accountant',
   'it manager - support',
   'production technician ii',
   'network engineer',
   'sr. network engineer',
   'shared services manager',
   'accountant i',
   'it support',
   'software engineering manager',
   'production technician i',
   'director of operations',
   'director of sales',
   'sr. dba',
   'it manager - db',
   'software engineer',
   'production manager'],
  [nan,
   ['chief information officer'],
   nan,
   ['chief executive officer'],
   nan,
   ['db admin', 'db administrator', 'database admin'],
   nan,
   ['director of it'],
   ['senior accountant'],
   nan,
   ['production technician 2', 'production technician two'],
   nan,
   ['senior network engineer'],
   nan,
   ['accountant 1', 'accountant one'],
   ['tech support'],
   nan,
   ['production technician 1', 'production technician one'],
   ['operations director'],
   ['sales director'],
   ['senior database administrator',
    'senior db admin',
    'senior db administrator'],
   nan,
   ['software developer', 'programmer'],
   nan],
  ['title', 'job title', 'role']],
 'manager': [['brandon r. leblanc',
   'janet king',
   'board of directors',
   'simon roup',
   'jennifer zamora',
   'eric dougall',
   'peter monroe',
   'michael albert',
   'elijiah gray',
   'webster butler',
   'amy dunn',
   'ketsia liebig',
   'brannon miller',
   'david stanley',
   'kissy sullivan',
   'kelley spirea',
   'lynn daneault',
   'john smith',
   'debra houlihan',
   'alex sweetwater'],
  [],
  ['manager name',
   'manager',
   'incharge',
   'supervisor',
   'mentor',
   'leadership',
   'boss',
   'management',
   'head',
   'lead',
   'chairman']],
 'employee_source': [['information session',
   'company intranet - partner',
   'social networks - facebook twitter etc',
   'newspager/magazine',
   'internet search',
   'billboard',
   'pay per click',
   'on-line web application',
   'glassdoor',
   'professional society',
   'monster.com',
   'diversity job fair',
   'careerbuilder',
   'mbta ads',
   'word of mouth',
   'other',
   'vendor referral',
   'on-campus recruiting',
   'website banner ads',
   'employee referral'],
  [['info session'],
   nan,
   ['social media',
    'social media apps',
    'facebook',
    'instagram',
    'twitter',
    'snapchat',
    'social network'],
   ['newspaper', 'magazine'],
   ['google',
    'bing',
    'yahoo',
    "search engine - google bing yahoo'",
    'search engine'],
   ['poster'],
   ['ppc', 'google ads', 'google ppc', 'ppc google'],
   ['application potal', 'job portal'],
   ['glass door'],
   ['professional group'],
   ['monster'],
   nan,
   nan,
   ['advertisement', 'ads'],
   ['verbal mention'],
   nan,
   ['referred by vendor', 'vendor referred'],
   ['on-campus job fair', 'career fair'],
   nan,
   ['referred by employee']],
  ['how did you learn about this position',
   'how did you find out about this job',
   'how did you find out about this position',
   'how did you learn about this job']],
 'performance_score': [['exceptional',
   'fully meets',
   'n/a- too early to review',
   'pip',
   'needs improvement',
   'exceeds',
   '90-day meets'],
  [['extraordinary'],
   ['up to the mark', 'meet expectations'],
   nan,
   nan,
   nan,
   ['beyond expectations',
    'more than expected',
    'better than expected',
    'higher than excpected'],
   nan],
  ['performance rating', 'performance score']],
 'money': [['pay rate'],
  [['salary', 'income', 'pay', 'earn', 'earnings', 'make']],
  ['earns', 'makes', 'amount']],
 'comparator': [['more than', 'equals to', 'less than'],
  [['greater than', 'higher than'],
   ['is exactly', 'is equal to', 'equates to'],
   ['lower than', 'below']],
  []],
 'date_time': [['date of hire', 'date of termination', 'dob'],
  [['start date', 'date of starting employment'],
   ['end date', 'date of leaving job', 'date of ending employment'],
   ['birthday', 'birthdate', 'birth date', 'date of birth', 'day of birth']],
  []],
 'function': [['percent', 'sum', 'average'],
  [['fraction', 'portion', 'proportion', 'percentage'],
   ['total', 'cumulative', 'added up', 'summed up. totalled', 'summed'],
   ['mean']],
  []],
 'extreme': [['highest', 'lowest'],
  [['top', 'maximum', 'most', 'greatest'],
   ['least', 'minimum', 'bottom', 'lowest']],
  []],
 'employment_action': [['hired', 'terminated'],
  [['employed'], ['fired', 'let go']],
  []]}

<h4>Generate Gazetteers</h4>

In [14]:
gen_gazetteers(ent_dict)

<h4>Generate Mapping.json</h4>