In [1]:
import numpy as np
import pandas as pd
import random
import os
import json

<h2>Functions</h2>

<h3>General Functions</h3>

In [2]:
# Check if a Value is Nan
# param x - Value to check
# return boolean - If it is a Nan
def is_nan(x):
    return (x is np.nan or x != x)

# Check All Values in List are Nan
# param x - List to check
# return boolean - If it is all Nan
def list_is_nan(x):
    for i in x:
        if not is_nan(i): return False
    return True

# Converts names to single string
# param names (list) - List of names in the format [['Mia', 'Brown'],[..]]
# return unique (list) - List of names in the format ['Mia Brown', ..]
def name_to_str(names):
    return [",".join(name).replace(",", " ") for name in names]

# Converts names to single string
# param names (list) - List of names in the format ['Mia Brown', ..]
# return names_list (list) - List of names in the format [['Mia', 'Brown'],[..]]
def str_name_to_list(names):
    for i in range(len(names)):
        full_name = names[i].split()
        names[i] = [full_name[0], full_name[len(full_name) - 1]]
    return names

# Extracts All of the Elements in a List of (One or Two D) Lists
# param two_d_list (list) List of (One or Two D) Lists
# return new_elems (list) List of elements
def extract_2d_list(two_d_list):
    elems, new_elems = [], []
    for elem in two_d_list: elems.extend(elem)
    for elem in elems:
        if isinstance(elem, list): new_elems.extend(elem)
        else: new_elems.append(elem)
    return new_elems

<h3>Get Unique Values</h3>

In [3]:
# Get the Names of Employees in the HR Dataset
# param df (dataframe) - Dataframe with names
# param column (str) - Column can be 'Employee Name' or 'Manager Name'
# Returns names (list) - Array of names (['First', 'Last'])
def get_names(df, column='Employee Name'):
    names = [df[[column]].iloc[i][0] for i in range(df.shape[0] - 1)]
    for i in range(len(names)):
        try:
            full_name = names[i].split(',')
            first = full_name[1].strip().split()[0]
            last = full_name[0]
            names[i] = [first, last]
        except:
            names[i] = ['Jeremy', 'Prater']
    return names

# Filter to list of unique names
# param names (list) - List of names in the format [['Mia', 'Brown'],[..]]
# param avoid (list) - List of names to avoid duplicates of
# return unique (list) - List of names in the format [['Mia', 'Brown'],[..]]
def filter_names_helper(names, avoid = []):
    unique = []
    first, last = [], []
    if(len(avoid) != 0):
        first = [n[0] for n in avoid]
        last = [n[1] for n in avoid]
    for name in names:
        if((name[0] not in first) and (name[1] not in last)):
            first.append(name[0])
            last.append(name[1])
            unique.append(name)
    return unique

# Filter to list of unique names that don't overlap with manager names
# param df (dataframe) - Dataframe with names 
# return unique (list) - List of names in the format [['Mia', 'Brown'],[..]]
def get_filtered_names(df):
    managers = str_name_to_list(get_uniq_str(df, "Manager Name"))
    managers = filter_names_helper(managers)
    survey_users = [['Mia','Brown'], ['Ivan','Rogers'], ['Julia','Soto'], ['Nan','Singh']]
    user_names = get_names(hr_data)
    user_names = filter_names_helper(user_names, avoid=survey_users)
    user_names = filter_names_helper(user_names, avoid=managers)
    user_names.extend(survey_users)
    return user_names

# Update Name Synonyms
def name_syn_update(ent_dict):
    syn_names = []
    for name in ent_dict['name'][0]:
        name_splt = name.split()
        name_syn = [name.lower(), name_splt[0], name_splt[0].lower(),
                    name_splt[1], name_splt[1].lower()]
        syn_names.append(name_syn)
    return syn_names

In [4]:
# Get the Unique Names of Employees in the HR Dataset
# param df (dataframe) - Dataframe with names
# return unique (list) - List of names in the format ['Mia Brown', ..]
def get_uniq_names(df):
    return name_to_str(get_filtered_names(df))

# Get Unique String Values of a Dataframe Column
# param df (dataframe) - Source Dataframe
# param col_name (str) - Name of Column to get unique values'
# return uniq_arr (arr) - Array of Unique Values
def get_uniq_str(df, col_name):
    return [i.lower().strip() for i in df[col_name].unique()[:-1]]

# Get Unique String Values of a Dataframe Column
# param df (dataframe) - Source Dataframe
# param col_name (str) - Name of Column to get unique values'
# return uniq_arr (arr) - Array of Unique Values
def get_uniq_num(df, col_name):
    return [str(int(i)) for i in df[col_name].unique()[:-1]]

# Generate a Dictionary with Unique Values for Select Columns
# param df (dataframe) - Source Dataframe
# return uniq (dict) - Dictionary that maps entities to unique values
def gen_uniq_dict(df):
    # Get Unique Values of Relevant Columns
    uniq = {}
    # Predefined
    uniq['name'] = name_to_str(get_names(df))
    uniq['sex'] = ['male', 'female']
    uniq['employment_status'] = ['active', 'voluntarily terminated', 'terminated for a cause',
                          'on a leave of absence' + 'going to start work in the future']
    uniq['performance_score'] = ['fully meet performance expecations', 'are too early to review', 
                         'meet 90-day expectations', 'are exceptional', 'need improvement', 'exeed expecations']
    # Custom Preprocessing
    uniq['state'] = hr_data['State'].unique()[:-1]
    # Standard Preprocessing 
    uniq['age'] = get_uniq_num(hr_data, 'Age')
    uniq['maritaldesc'] = get_uniq_str(hr_data, "MaritalDesc")
    uniq['citizendesc'] = get_uniq_str(hr_data, "CitizenDesc")
    uniq['racedesc'] = get_uniq_str(hr_data, "RaceDesc")
    uniq['department'] = get_uniq_str(hr_data, "Department")
    uniq['position'] = get_uniq_str(hr_data, "Position")
    #uniq['manager'] = name_to_str(str_name_to_list(get_uniq_str(hr_data, "Manager Name")))
    uniq['employee_source'] = get_uniq_str(hr_data, "Employee Source")
    return uniq

# Generate a Dictionary with Unique Values for Select Columns
# param uniq (dict) - Dictionary that maps entities to unique values
# param ent_dict (dict) - Dictionary that Contains Entity Information
# return uniq (dict) - Dictionary that maps entities to unique values
def uniq_dict_update(uniq, ent_dict):
    uniq['money'] = ent_dict['money'][1][0]
    uniq['time_interval'] = extract_2d_list(ent_dict['time_interval'])
    uniq['time_recur'] = extract_2d_list(ent_dict['time_recur'])
    uniq['function'] = extract_2d_list(ent_dict['function'])
    uniq['extreme'] = extract_2d_list(ent_dict['extreme'])
    uniq['employment_action'] = extract_2d_list(ent_dict['employment_action'])
    uniq['date_compare'] = extract_2d_list(ent_dict['date_compare'])
    uniq['manager'] = extract_2d_list(ent_dict['manager'])
    return uniq

In [5]:
#extract_2d_list(ent_dict['manager'])

<h3>Load, Parse and Clean Entity Data</h3>

In [6]:
# Load entity data frame from CSV
# param path (str) - Path to csv
# return ent_df (dataframe) - Entity Info Dataframe
def load_ent(path):
    df = pd.read_csv(path).iloc[:, :4]
    ct = 0
    while (ct < len(df) and not list_is_nan(df.iloc[ct, :].values)): ct += 1
    return df.iloc[:ct, :]

# Parse CSV that contains [Entity, Options, Synonyms, Gazetteer]
# param ent_df (dataframe) - Contains the columns listed above
# return ent_dict (dict) - Uncleaned dictionary where the keys are the entities
#                          and the values are [options (arr), synonyms (arr), gazetteer (arr)]
def ent_parse(ent_df):
    ent_dict = {}
    ct = 0
    curr_ent = ''
    while(ct < len(ent_df)):
        row = ent_df.iloc[ct]
        # update curr_ent if new entity
        if(not is_nan(row['Entity'])): 
            curr_ent = row['Entity']
            ent_dict[curr_ent] = [[], [], []]
        # check if options is a list
        if(not is_nan(row['Options']) and row['Options'].count(',') > 2):
            ent_dict[curr_ent][0] = row['Options']
            if(not is_nan(row['Synonyms'])): 
                ent_dict[curr_ent][1] = row['Synonyms'].split(',')
            if(not is_nan(row[3])): ent_dict[curr_ent][2] = row['Gazetteer']
        # single entry in option column
        else:
            ent_dict[curr_ent][0].append(row['Options'])
            ent_dict[curr_ent][1].append(row['Synonyms'])
            ent_dict[curr_ent][2].append(row['Gazetteer'])
        ct += 1
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_options(ent_dict):
    for i in ent_dict.keys():
        old_opt = ent_dict[i][0]
        new_opt = []
        for word in old_opt:
            if(not is_nan(word)):
                new_opt.append(word.replace("'", "").replace(",", ""))
        ent_dict[i][0] = new_opt
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_synonyms(ent_dict):
    for i in ent_dict.keys():
        old_syn = ent_dict[i][1]
        new_syn = []
        if(len(old_syn) != 0):
            for j in old_syn:
                if(not is_nan(j)): new_syn.append([string.strip() for string in j.split(',')])
                else: new_syn.append(j)
        ent_dict[i][1] = new_syn
    return ent_dict

# Cleans the gazetteers of the ent dictionary
# param ent_dict (dictionary) - Entity Dictionary
# return ent_dict (dictionary) - Cleaned Entity Dictionary
def clean_gazetteer(ent_dict):
    for i in ent_dict.keys():
        old_gaz = ent_dict[i][2]
        clean_gaz = []
        if (len(old_gaz) != 0):        
            if (type(old_gaz) is str): clean_gaz = old_gaz.split(',')
            elif(not is_nan(old_gaz[0])): clean_gaz = (old_gaz[0].split(','))
        ent_dict[i][2] = [i.strip() for i in clean_gaz]
    return ent_dict

# Cleans an Entity Dictionary
# ent_dict (dict) - Uncleaned dictionary of parsed entity information
# uniq (dict) - Dictionary that maps entities to unique values
# return cleaned_ent_dict (dict) - Cleaned dictionary
def clean_ent_dict(ent_dict, uniq):
    ent_dict = clean_options(ent_dict)
    ent_dict = clean_synonyms(ent_dict)
    ent_dict = clean_gazetteer(ent_dict)
    ent_dict['name'][0] = uniq['name']
    ent_dict['state'][0] = uniq['state']
    return ent_dict

# Parse and Clean Entity Data
# Parse CSV that contains [Entity, Options, Synonyms, Gazetteer]
# param ent_df (dataframe) - Contains the columns listed above
def parse_clean_ent(ent_df, uniq):
    ent = ent_parse(ent_df)
    return clean_ent_dict(ent, uniq)

<h3>File Generation</h3>

In [7]:
# Convert a list into a text file
# param folder (str) - Name of the folder to write the file
# param lines (list) - List of values to write to file
def list_to_txt_file(folder, lines):
    directory = '../hr_assistant/entities/' + folder + '/'
    if not os.path.exists(directory): os.makedirs(directory)
    with open(directory + 'gazetteer.txt', 'w+') as filehandle:  
        filehandle.writelines("%s\n" % line for line in lines)
        
# Convert a dict into a json file
# param folder (str) - Name of the folder to write the file
# param dict (dict) - Json dict to write to file
def dict_to_json_file(folder, json_dict):
    directory = '../hr_assistant/entities/' + folder + '/'
    if not os.path.exists(directory): os.makedirs(directory)
    with open(directory + "mapping.json", "w+") as f:
        json_str = json.dumps(json_dict, indent=4)
        f.write(json_str)
        
# Generate a Mapping JSON Dict to create Mapping.json file
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
# param entity (str) - The entity to generate the gazetteer list for
# return json_dict (dict) - Json Dict in the proper format for mapping.json
def gen_map_json(ent_dict, entity):
    opt = ent_dict[entity][0]
    syn = ent_dict[entity][1]
    # Check if the Options and the Synonyms Align
    if(len(opt) != len(syn)): syn = [[] for i in range(len(opt))]
    return gen_map_json_helper(opt, syn)

# Helper function to Generate a Mapping JSON Dictionary
# param options (list) - Array of options
# param synonyms (2d list) - Array of synonym arrays corresponding to options
# return json_dict (dict) - Json Dict in the proper format for mapping.json
def gen_map_json_helper(options, synonyms):
    json_dict = {}
    json_dict['entities'] = []
    for i in range(len(options)):
        new_dict = {}
        if(is_nan(synonyms[i])): new_dict['whitelist'] = []
        else: new_dict['whitelist'] = synonyms[i]
        new_dict['cname'] = options[i]
        json_dict['entities'].append(new_dict)
    return json_dict

# Create Mapping.json files for Every Entity in an Entity Dictionary
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
def gen_map_json_files(ent_dict):
    for entity in ent_dict.keys():
        json_dict = gen_map_json(ent_dict, entity)
        if(not is_nan(json_dict)): dict_to_json_file(entity, json_dict)

# Collect All Synonyms for a Single Entity in Entity Dict
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
# param entity (str) - The entity to get Synyonyms for
# return synonyms (list) - List of Synonyms of Specified entity
def get_synonyms(ent_dict, entity):
    synonyms = []
    for syn in ent_dict[entity][1]:
        if(not is_nan(syn)): synonyms.extend(syn)
    return synonyms

# Generate a Gazetter List for an Entity
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
# param entity (str) - The entity to generate the gazetteer list for
# return gaz (list) - List of gazetteer word relevant to the entity
def gen_gaz_list(ent_dict, entity):
    gaz = []
    gaz.extend(ent_dict[entity][0])
    gaz.extend(get_synonyms(ent_dict, entity))
    gaz.extend(ent_dict[entity][2])
    # Add default weight of 1.0 to Gazetter
    for i in range(len(gaz)): gaz[i] = "1.0 " + gaz[i]
    return gaz

# Create Gazetteer Files for Every Entity in an Entity Dictionary
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
def gen_gazetteers(ent_dict):
    for entity in ent_dict.keys():
        gaz_list = gen_gaz_list(ent_dict, entity)
        list_to_txt_file(entity, gaz_list)

<h3>Debug Labelling</h3>

In [8]:
# Find all labels in a sentence
# pram text (str) String that may or may not contain labels in the form of {ent_type|ent}
# return labels (list) List of labels found in the text
def get_labels(text):
    chars = list(text)
    start, stop = 0, 0
    labels = []
    positions = []
    for i in range(len(chars)):
        if chars[i] == '{': 
            start = i
        if chars[i] == '}':
            stop = i
            txt = chars[start:(stop + 1)]
            labels.append("".join(chars[start:(stop + 1)]))
            positions.append([start, stop])
    return labels, positions

# Given a list of labels, Seperate Key and Values
# param labels (list) List of labels found in the text
# return kv (2d list) List of the Keys list and Values list [[key_array], [value_array]]
def get_kv(labels):
    k = []
    v = []
    for label in labels:
        if '|' in label:
            k.append(label.split('|')[0].replace("{", ""))
            v.append(label.split('|')[1].replace("}", ""))
    return [k,v]

# Check if a Synonym Exists in a Sentence that it is labelled
# param sentence (str) String that may or may not contain labels in the form of {ent_type|ent}
# param ent_dict (dict) - Dictionary that maps entities to options, synonyms, and gazetteer
# param kv_labels (2d list) List of the Keys list and Values list [[key_array], [value_array]]
# param col (str) Column in the dataframe
# param idx (int) Index of the Current Sentence in the Dataframe
def label_chk_helper(sentence, ent_dict, kv_labels, col, idx):
    sent_split = [word.lower() for word in sentence.split()]
    for ent in ent_dict:
        # Check for 'Entity Options' in text
        options = ent_dict[ent][0]
        for opt in options:
            if opt in sent_split and opt not in kv_labels[0] and opt not in kv_labels[1]:
                print("POTENTIAL OPTION-MISSING LABEL")
                print("OPTION: " + opt)
                print("ENTITY: " + ent)
                print("SENTENCE: " + sentence)
                print("Column: " + col)
                print("Index: " + str(idx + 2))
                print("==========================================")
        # Check for 'Synonym Options' in text
        syns = get_synonyms(ent_dict, ent)
        for syn in syns:
            if syn.lower() in sent_split and syn not in kv_labels[0]:
                print("POTENTIAL SYNONYM-MISSING LABEL")
                print("SYNONYM: " + syn)
                print("ENTITY: " + ent)
                print("SENTENCE: " + sentence)
                print("Column: " + col)
                print("Index: " + str(idx + 2))
                print("==========================================")
                
# Finds mismatches between labels in the Dataframe
# param kv_labels (2d list) List of the Keys list and Values list [[key_array], [value_array]]
# param sentence (str) String that may or may not contain labels in the form of {ent_type|ent}
# param l_dict (dict) Dictionary that keeps track of entity label mappings passed in from the main function
# param col (str) Column in the dataframe
# param idx (int) Index of the Current Sentence in the Dataframe
def chk_mismatch(labels, sentence, l_dict, col, idx):
    if(len(labels[0]) != 0):
        for ct in range(len(labels[0])):
            k = labels[0][ct]
            v = labels[1][ct]
            
            if k in l_dict: 
                if l_dict[k] != v:
                    print("POTENTIAL MISMATCH for: " + k)
                    print("CURRENT LABEL: " + v)
                    print("IN DICT: " + l_dict[k])
                    print("SENTENCE: " + sentence)
                    print("Column: " + col)
                    print("Index: " + str(idx + 2))
                    print("==========================================")
            else: l_dict[k] = v  

# Check if the Synonyms to Entities Were not Labelled in Training
# param df (dataframe) - Dataframe where each column is an intent and each row has sentence examples
# param ent_dict (dict) - Dictionary that contains entities as keys and synonyms
def label_chk(df, ent_dict):
    for col in df:
        print(col.upper() + "=============================================================")
        idx = 2
        nan = is_nan(df[col][idx])
        l_dict = {}
        while(idx < len(df)):
            if(is_nan(df[col][idx])): break
            sentence = df[col][idx]
            labels, pos = get_labels(sentence)
            labels = get_kv(labels)
            label_chk_helper(sentence, ent_dict, labels, col, idx)
            chk_mismatch(labels, sentence, l_dict, col, idx)
            idx += 1

<h2>Workflow</h2>

<h4>Load Data</h4>

In [9]:
hr_data = pd.read_csv('old_core_dataset.csv')
hr_data

,Employee Name,Employee Number,State,Zip,DOB,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,...,Date of Hire,Date of Termination,Reason For Term,Employment Status,Department,Position,Pay Rate,Manager Name,Employee Source,Performance Score
0,"Brown, Mia",1.103024e+09,MA,1450.0,11/24/1985,32.0,Female,Married,US Citizen,No,...,10/27/2008,NaN,N/A - still employed,Active,Admin Offices,Accountant I,28.50,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
1,"LaRotonda, William",1.106027e+09,MA,1460.0,4/26/1984,33.0,Male,Divorced,US Citizen,No,...,1/6/2014,NaN,N/A - still employed,Active,Admin Offices,Accountant I,23.00,Brandon R. LeBlanc,Website Banner Ads,Fully Meets
2,"Steans, Tyrone",1.302053e+09,MA,2703.0,9/1/1986,31.0,Male,Single,US Citizen,No,...,9/29/2014,NaN,N/A - still employed,Active,Admin Offices,Accountant I,29.00,Brandon R. LeBlanc,Internet Search,Fully Meets
3,"Howard, Estelle",1.211051e+09,MA,2170.0,9/16/1985,32.0,Female,Married,US Citizen,No,...,2/16/2015,4/15/2015,N/A - still employed,Active,Admin Offices,Administrative Assistant,21.50,Brandon R. LeBlanc,Pay Per Click - Google,N/A- too early to review
4,"Singh, Nan",1.307060e+09,MA,2330.0,5/19/1988,29.0,Female,Single,US Citizen,No,...,5/1/2015,NaN,N/A - still employed,Active,Admin Offices,Administrative Assistant,16.56,Brandon R. LeBlanc,Website Banner Ads,N/A- too early to review
5,"Smith, Leigh Ann",7.110077e+08,MA,1844.0,6/14/1987,30.0,Female,Married,US Citizen,No,...,9/26/2011,9/25/2013,career change,Voluntarily Terminated,Admin Offices,Administrative Assistant,20.50,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
6,"LeBlanc, Brandon R",1.102024e+09,MA,1460.0,6/10/1984,33.0,Male,Married,US Citizen,No,...,1/5/2016,NaN,N/A - still employed,Active,Admin Offices,Shared Services Manager,55.00,Janet King,Monster.com,Fully Meets
7,"Quinn, Sean",1.206043e+09,MA,2045.0,11/6/1984,33.0,Male,Married,Eligible NonCitizen,No,...,2/21/2011,8/15/2015,career change,Voluntarily Terminated,Admin Offices,Shared Services Manager,55.00,Janet King,Diversity Job Fair,Fully Meets
8,"Boutwell, Bonalyn",1.307060e+09,MA,2468.0,4/4/1987,30.0,Female,Married,US Citizen,No,...,2/16/2015,NaN,N/A - still employed,Active,Admin Offices,Sr. Accountant,34.95,Brandon R. LeBlanc,Diversity Job Fair,90-day meets
9,"Foster-Baker, Amy",1.201031e+09,MA,2050.0,4/16/1979,38.0,Female,Married,US Citizen,no,...,1/5/2009,NaN,N/A - still employed,Active,Admin Offices,Sr. Accountant,34.95,Board of Directors,Other,Fully Meets
10,"King, Janet",1.001495e+09,MA,1902.0,9/21/1954,63.0,Female,Married,US Citizen,Yes,...,7/2/2012,NaN,N/A - still employed,Active,Executive Office,President & CEO,80.00,Board of Directors,Pay Per Click - Google,Fully Meets
11,"Zamora, Jennifer",1.112031e+09,MA,2067.0,8/30/1979,38.0,Female,Single,US Citizen,No,...,4/10/2010,NaN,N/A - still employed,Active,IT/IS,CIO,65.00,Janet King,Employee Referral,Exceptional
12,"Becker, Renee",1.102024e+09,MA,2026.0,4/4/1986,31.0,Female,Single,US Citizen,Yes,...,7/7/2014,9/12/2015,performance,Terminated for Cause,IT/IS,Database Administrator,43.00,Simon Roup,Search Engine - Google Bing Yahoo,Fully Meets
13,"Goble, Taisha",9.050137e+08,MA,2127.0,10/23/1971,46.0,Female,Single,US Citizen,No,...,2/16/2015,3/15/2015,"no-call, no-show",Terminated for Cause,IT/IS,Database Administrator,48.50,Simon Roup,Glassdoor,Fully Meets
14,"Hernandez, Daniff",1.410071e+09,MA,1960.0,8/7/1986,31.0,Male,Married,US Citizen,No,...,2/16/2015,2/22/2015,"no-call, no-show",Terminated for Cause,IT/IS,Database Administrator,40.10,Simon Roup,Employee Referral,N/A- too early to review
15,"Horton, Jayne",1.105026e+09,MA,2493.0,2/21/1984,33.0,Female,Single,US Citizen,No,...,3/30/2015,NaN,N/A - still employed,Active,IT/IS,Database Administrator,34.00,Simon Roup,Glassdoor,N/A- too early to review
16,"Johnson, Noelle",1.003018e+09,MA,2301.0,11/7/1986,31.0,Female,Married,US Citizen,No,...,1/5/2015,NaN,N/A - still employed,Leave of Absence,IT/IS,Database Administrator,40.00,Simon Roup,Glassdoor,90-day meets
17,"Murray, Thomas",1.406068e+09,TX,78230.0,7/4/1988,29.0,Male,Divorced,US Citizen,No,...,11/10/2014,NaN,N/A - still employed,Active,IT/IS,Database Administrator,35.50,Simon Roup,Diversity Job Fair,Exceptional
18,"Pearson, Randall",1.102024e+09,MA,2747.0,9/5/1984,33.0,Male,Married,US Citizen,No,...,12/1/2014,5/1/2016,performance,Voluntarily Terminated,IT/IS,Database Administrator,41.00,Simon Roup,Employee Referral,Fully Meets
19,"Petrowsky, Thelma",1.108028e+09,MA,1886.0,9/16/1984,33.0,Female,Married,US Citizen,No,...,11/10/2014,NaN,N/A - still employed,Active,IT/IS,Database Administrator,42.75,Simon Roup,Employee Referral,Exceptional
20,"Roby, Lori",1.407069e+09,MA,1886.0,10/11/1981,36.0,Female,Married,US Citizen,No,...,2/16/2015,NaN,N/A - still employed,Active,IT/IS,Database Administrator,39.55,Simon Roup,Employee Referral,Fully Meets
21,"Rogers, Ivan",1.203032e+09,MA,1810.0,8/26/1986,31.0,Male,Married,US Citizen,No,...,3/30/2015,NaN,N/A - still employed,Active,IT/IS,Database Administrator,42.20,Simon Roup,Pay Per Click - Google,N/A- too early to review
22,"Salter, Jason",1.111030e+09,MA,2452.0,12/17/1987,30.0,Male,Divorced,US Citizen,No,...,1/5/2015,10/31/2015,hours,Voluntarily Terminated,IT/IS,Database Administrator,45.00,Simon Roup,Vendor Referral,90-day meets
23,"Simard, Kramer",8.080103e+08,MA,2110.0,2/8/1970,47.0,Male,Married,US Citizen,Yes,...,1/5/2015,NaN,N/A - still employed,Active,IT/IS,Database Administrator,30.20,Simon Roup,Employee Referral,90-day meets
24,"Zhou, Julia",1.110030e+09,MA,2148.0,2/24/1979,38.0,Female,Single,US Citizen,No,...,3/30/2015,NaN,N/A - still employed,Active,IT/IS,Database Administrator,31.40,Simon Roup,Employee Referral,90-day meets
25,"Foss, Jason",1.192991e+09,MA,1460.0,7/5/1980,37.0,Male,Single,US Citizen,No,...,4/15/2011,NaN,N/A - still employed,Active,IT/IS,IT Director,65.00,Jennifer Zamora,Professional Society,Exceptional
26,"Roup,Simon",1.106027e+09,MA,2481.0,4/5/1973,44.0,Male,Single,US Citizen,No,...,1/20/2013,NaN,N/A - still employed,Active,IT/IS,IT Manager - DB,62.00,Jennifer Zamora,Professional Society,Fully Meets
27,"Ruiz, Ricardo",1.001175e+09,MA,1915.0,1/4/1964,54.0,Male,Divorced,US Citizen,No,...,1/9/2012,11/4/2015,hours,Voluntarily Terminated,IT/IS,IT Manager - DB,21.00,Jennifer Zamora,Diversity Job Fair,Fully Meets
28,"Monroe, Peter",1.011023e+09,MA,2134.0,10/5/1986,31.0,Male,Married,Eligible NonCitizen,Yes,...,2/15/2012,NaN,N/A - still employed,Active,IT/IS,IT Manager - Infra,63.00,Jennifer Zamora,Diversity Job Fair,Needs Improvement
29,"Dougall, Eric",1.101024e+09,MA,1886.0,7/9/1970,47.0,Male,Single,US Citizen,No,...,1/5/2014,NaN,N/A - still employed,Active,IT/IS,IT Manager - Support,64.00,Jennifer Zamora,Professional Society,Exceeds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,Jeremy Prater,1.001085e+09,NV,89139.0,5/9/1974,43.0,Male,Married,US Citizen,No,...,5/12/2014,NaN,N/A - still employed,Active,Sales,Area Sales Manager,56.00,Lynn Daneault,Website Banner Ads,PIP
273,"Khemmich, Bartholemew",1.104025e+09,CO,80820.0,11/27/1979,38.0,Male,Single,US Citizen,No,...,8/19/2013,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,Lynn Daneault,Pay Per Click - Google,Fully Meets
274,"Leruth, Giovanni",1.412072e+09,UT,84111.0,12/27/1988,29.0,Male,Separated,US Citizen,No,...,4/30/2012,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,John Smith,Website Banner Ads,Fully Meets
275,"Martins, Joseph",1.209049e+09,TX,78207.0,6/11/1970,47.0,Male,Single,Eligible NonCitizen,No,...,5/14/2012,NaN,N/A - still employed,Active,Sales,Area Sales Manager,56.00,Lynn Daneault,Employee Referral,Fully Meets
276,"McKinzie, Jac",1.209049e+09,TX,78789.0,7/1/1984,33.0,Male,Married,US Citizen,No,...,7/6/2016,NaN,N/A - Has not started yet,Future Start,Sales,Area Sales Manager,55.00,Lynn Daneault,Website Banner Ads,N/A- too early to review
277,"Mullaney, Howard",1.306058e+09,AL,36006.0,11/2/1975,42.0,Male,Single,US Citizen,No,...,9/29/2014,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,John Smith,Internet Search,Needs Improvement
278,"Nguyen, Dheepa",1.111031e+09,GA,30428.0,3/31/1989,28.0,Female,Single,US Citizen,No,...,7/8/2013,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,Lynn Daneault,Pay Per Click - Google,Fully Meets
279,"Onque, Jasmine",1.501072e+09,FL,33174.0,5/11/1990,27.0,Female,Single,US Citizen,Yes,...,9/30/2013,NaN,N/A - still employed,Active,Sales,Area Sales Manager,57.00,Lynn Daneault,Pay Per Click - Google,Fully Meets
280,"Ozark, Travis",8.120118e+08,NC,27229.0,5/19/1982,35.0,Male,Single,US Citizen,No,...,1/5/2015,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,John Smith,Website Banner Ads,90-day meets
281,"Potts, Xana",1.102024e+09,KY,40220.0,8/29/1988,29.0,Female,Married,US Citizen,No,...,1/9/2012,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,Lynn Daneault,Website Banner Ads,Fully Meets
282,"Riordan, Michael",1.502073e+09,ND,58782.0,1/15/1968,50.0,Male,Separated,US Citizen,No,...,1/9/2006,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,Lynn Daneault,Billboard,Exceeds
283,"Strong, Caitrin",1.411071e+09,MT,59102.0,5/12/1989,28.0,Female,Married,US Citizen,No,...,9/27/2010,NaN,N/A - still employed,Active,Sales,Area Sales Manager,54.00,John Smith,Professional Society,Fully Meets
284,"Terry, Sharlene",1.401065e+09,OR,97756.0,5/7/1965,52.0,Female,Single,US Citizen,No,...,9/29/2014,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,Lynn Daneault,Monster.com,Fully Meets
285,"Valentin,Jackie",1.312064e+09,AZ,85006.0,5/23/1991,26.0,Female,Married,US Citizen,No,...,7/5/2011,NaN,N/A - still employed,Active,Sales,Area Sales Manager,55.00,John Smith,Other,Fully Meets
286,"Villanueva, Noah",1.111031e+09,ME,4063.0,7/11/1989,28.0,Male,Single,US Citizen,No,...,3/5/2012,NaN,N/A - still employed,Active,Sales,Area Sales Manager,56.00,John Smith,Website Banner Ads,Fully Meets
287,"Houlihan, Debra",1.009022e+09,RI,2908.0,3/17/1966,51.0,Female,Married,US Citizen,No,...,5/5/2014,NaN,N/A - still employed,Active,Sales,Director of Sales,60.00,Janet King,MBTA ads,Fully Meets
288,"Daneault, Lynn",1.402065e+09,VT,5473.0,4/19/1990,27.0,Female,Single,US Citizen,No,...,5/5/2014,NaN,N/A - still employed,Active,Sales,Sales Manager,54.00,Debra Houlihan,Pay Per Click - Google,Fully Meets
289,"Kampew, Donysha",1.109029e+09,PA,19444.0,11/11/1989,28.0,Female,Single,US Citizen,No,...,11/7/2011,4/24/2014,maternity leave - did not return,Voluntarily Terminated,Sales,Sales Manager,60.25,Debra Houlihan,Social Networks - Facebook Twitter etc,Fully Meets
290,"Smith, John",1.499903e+09,MA,1886.0,8/16/1984,33.0,Male,Divorced,US Citizen,no,...,5/18/2014,NaN,N/A - still employed,Active,Sales,Sales Manager,56.00,Debra Houlihan,Diversity Job Fair,Needs Improvement
291,"Andreola, Colby",1.107027e+09,MA,2110.0,5/24/1979,38.0,Female,Single,US Citizen,No,...,11/10/2014,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,47.60,Alex Sweetwater,Vendor Referral,Fully Meets
292,"Carabbio, Judith",1.101024e+09,MA,2132.0,4/5/1987,30.0,Female,Single,US Citizen,No,...,11/11/2013,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,56.00,Alex Sweetwater,Pay Per Click - Google,90-day meets
293,"Del Bosque, Keyla",1.203032e+09,MA,2176.0,7/5/1979,38.0,Female,Single,US Citizen,No,...,1/9/2012,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,57.12,Alex Sweetwater,Monster.com,90-day meets
294,"Exantus, Susan",1.401065e+09,MA,1749.0,5/15/1987,30.0,Female,Married,US Citizen,No,...,5/2/2011,6/5/2013,attendance,Terminated for Cause,Software Engineering,Software Engineer,48.50,Alex Sweetwater,Billboard,Needs Improvement
295,"Martin, Sandra",1.303055e+09,MA,2135.0,11/7/1987,30.0,Female,Separated,US Citizen,No,...,11/11/2013,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,55.51,Alex Sweetwater,Search Engine - Google Bing Yahoo,Fully Meets
296,"Patronick, Luke",1.112031e+09,MA,1844.0,2/20/1979,38.0,Male,Single,US Citizen,No,...,11/7/2011,9/7/2015,Another position,Voluntarily Terminated,Software Engineering,Software Engineer,52.25,Alex Sweetwater,Diversity Job Fair,Exceeds
297,"Saada, Adell",1.012023e+09,MA,2132.0,7/24/1986,31.0,Female,Married,US Citizen,No,...,11/5/2012,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,49.25,Alex Sweetwater,Pay Per Click - Google,Fully Meets
298,"Szabo, Andrew",1.201031e+09,MA,2140.0,5/6/1983,34.0,Male,Single,US Citizen,No,...,7/7/2014,NaN,N/A - still employed,Active,Software Engineering,Software Engineer,48.00,Alex Sweetwater,MBTA ads,Exceptional
299,"True, Edward",1.102024e+09,MA,2451.0,6/14/1983,34.0,Male,Single,Non-Citizen,No,...,2/18/2013,4/15/2014,medical issues,Voluntarily Terminated,Software Engineering,Software Engineer,45.42,Alex Sweetwater,Diversity Job Fair,Fully Meets
300,"Sweetwater, Alex",1.001645e+09,MA,2184.0,11/22/1966,51.0,Male,Single,US Citizen,No,...,8/15/2011,NaN,N/A - still employed,Active,Software Engineering,Software Engineering Manager,27.00,Jennifer Zamora,Search Engine - Google Bing Yahoo,Fully Meets
301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#hr_data.columns

<h4>Create Unique Values Dictionary</h4>

In [11]:
uniq = gen_uniq_dict(hr_data)

<h4>Load Entities</h4>

In [36]:
ent_df = load_ent('HR Manager Schema - Entities.csv')
ent_dict = parse_clean_ent(ent_df, uniq)
ent_dict['name'][1] = name_syn_update(ent_dict)
ent_dict['name'][2] = list(set(pd.read_csv('baby-names.csv')['name']))
uniq = uniq_dict_update(uniq, ent_dict)
ent_dict

{'name': [['Mia Brown',
   'William LaRotonda',
   'Tyrone Steans',
   'Estelle Howard',
   'Nan Singh',
   'Leigh Smith',
   'Brandon LeBlanc',
   'Sean Quinn',
   'Bonalyn Boutwell',
   'Amy Foster-Baker',
   'Janet King',
   'Jennifer Zamora',
   'Renee Becker',
   'Taisha Goble',
   'Daniff Hernandez',
   'Jayne Horton',
   'Noelle Johnson',
   'Thomas Murray',
   'Randall Pearson',
   'Thelma Petrowsky',
   'Lori Roby',
   'Ivan Rogers',
   'Jason Salter',
   'Kramer Simard',
   'Julia Zhou',
   'Jason Foss',
   'Simon Roup',
   'Ricardo Ruiz',
   'Peter Monroe',
   'Eric Dougall',
   'Rick Clayton',
   'Lisa Galia',
   'Leonara Lindsay',
   'Julia Soto',
   'Alejandro Bacong',
   'Anthony Cisco',
   'Linda Dolan',
   'Maria Gonzalez',
   'Carlos Merlos',
   'Tanya Morway',
   'Anita Shepard',
   'Neville Tredinnick',
   'Jumil Turpin',
   'Karthikeyan Ait Sidi',
   'Claudia Carr',
   'Donald Favis',
   'Bianca Roehrich',
   'Ann Daniele',
   'Jyoti Lajiri',
   'Jeremiah Semizoglou',
   'Joe South',
   'Sarah Warfield',
   'Elisa Bramante',
   'Michael Albert',
   'Charles Bozzi',
   'Webster Butler',
   'Amy Dunn',
   'Elijiah Gray',
   'Jonathan Hogland',
   'Walter Immediato',
   'Ketsia Liebig',
   'Brannon Miller',
   'Ebonee Peterson',
   'Kelley Spirea',
   'David Stanley',
   'Kissy Sullivan',
   'Courtney Wallace',
   'Wilson Adinolfi',
   'Trina Alagbe',
   'Carol Anderson',
   'Linda Anderson',
   'Sam Athwal',
   'Linda Bachiochi',
   'Rachael Baczenski',
   'Thomas Barbara',
   'Francesco Barone',
   'Nader Barton',
   'Courtney Beatrice',
   'Scott Becker',
   'Sean Bernstein',
   'Lowan Biden',
   'Helen Billis',
   'Donna Brill',
   'Josephine Bugali',
   'Michael Carey',
   'Beatrice Chace',
   'Lin Chan',
   'Donovan Chang',
   'Enola Chivukula',
   'Caroline Cierpiszewski',
   'Elijian Clukey',
   'James Cockel',
   'Spencer Cole',
   'Lisa Cornett',
   'Jean Crimmings',
   "Jene'ya Darson",
   'James DeGweck',
   'Carl Desimone',
   'Geoff Dickinson',
   'Lily DiNocco',
   'Denisa Dobrin',
   'Marianne Eaton',
   'Jean Engdahl',
   'Rex England',
   'Miguel Estremera',
   'April Evensen',
   'Susan Ferguson',
   'Nilson Fernandes',
   'Violeta Ferreira',
   'Libby Fidelia',
   'Raul Garcia',
   'Hamish Garneau',
   'Barbara Gaul',
   'Mildred Gentry',
   'Melisa Gerke',
   'Alex Gilles',
   'Evelyn Girifalco',
   'Shenice Gold',
   'Cayo Gonzalez',
   'David Gordon',
   'Roxana Goyal',
   'Paula Gross',
   'Joanne Handschiegl',
   'Ludwick Harrell',
   'Christie Harrington',
   'Kara Harrison',
   'Anthony Heitzman',
   'Rose Ivey',
   'Maryellen Jackson',
   'Hannah Jacobi',
   'Sneha Jhaveri',
   'George Johnson',
   'Judy Jung',
   'Kramer Keatts',
   'Kathleen Kinsella',
   'Alexandra Kirill',
   'Bradley Knapp',
   'John Kretschmer',
   'Enrico Langton',
   'Dallas Leach',
   'Jonathan LeBel',
   'Marilyn Linares',
   'Allison Lydon',
   'Lindsay Lynch',
   'Samuel MacLennan',
   'Lauren Mahoney',
   'Debbie Mangal',
   'Shana Maurice',
   'Sandy Mckenna',
   'Elizabeth Meads',
   'Jennifer Medeiros',
   'Dawn Motlagh',
   'Colombui Ndzi',
   'Horia Ndzi',
   'Richard Newman',
   'Shari Ngodup',
   'Lei-Ming Nguyen',
   "Lynn O'hare",
   'Adeel Osturnka',
   'Clinton Owad',
   'Nina Panjwani',
   'Emil Pelech',
   'Shakira Perry',
   'Kayla Peterson',
   'Hong Pham',
   'Brad Pitt',
   'Morissa Power',
   'Louis Punjabhi',
   'Janine Purinton',
   'Quinn Rarrick',
   'Thomas Rhoads',
   'Haley Rivera',
   'Alain Robinson',
   'Cherly Robinson',
   'Elias Robinson',
   'Ashley Rose',
   'Bruno Rossetti',
   'Melinda Saar-Beckles',
   'Nore Sadki',
   'Kamrin Sander',
   'Nori Sewkumar',
   'Seffi Shields',
   'Sade Smith',
   'Taylor Sparks',
   'Kristen Squatrito',
   'Barbara Stanford',
   'Rick Stoica',
   'Timothy Sullivan',
   'Barbara Sutwell',
   'Desiree Tavares',
   'Sophia Theamstern',
   'Theresa Tinto',
   'Jeanette Tippett',
   'Mei Trang',
   'Abdellah Veera',
   'Colleen Volk',
   'Anna Von Massenbach',
   'Theresa Wallace',
   'Scott Whittier',
   'Barry Wilber',
   'Jacquelyn Williams',
   'Catherine Ybarra',
   'Colleen Zima',
   'Sarah Akinkuolie',
   'Kimberly Beak',
   'Dianna Blount',
   'Betsy Bondwell',
   'Joseph Buccheri',
   'Joelle Burke',
   'Benjamin Burkett',
   'Jennifer Cloninger',
   'Phil Close',
   'Daniel Davis',
   'Carla Demita',
   'Angela Erilus',
   'Megan Faller',
   'Nicole Fancett',
   'Michael Fitzpatrick',
   'Tanya Foreman',
   'Juan Gonzalez',
   'Susan Good',
   'Phylicia Gosciminski',
   'Earnest Hankard',
   'Trina Hendrickson',
   'Adrienne Homberger',
   'Julissa Hunts',
   'Rosalie Hutter',
   'Ming Huynh',
   'Tayana Jeannite',
   'Yen Johnston',
   'Lindsey Langford',
   'Mohammed Latif',
   'Mathew Linden',
   'Susan Lundy',
   'Lisa Lunquist',
   'Robyn Manchester',
   'Karen Mancuso',
   'Brigit McCarthy',
   'Ned Miller',
   'Erasumus Monkfish',
   'Luisa Monterro',
   'Patrick Moran',
   'Maliki Moumanil',
   'Kristie Nowlan',
   'Brooke Oliver',
   'Ermine Pelletier',
   'Lauren Peters',
   'Shana Petingill',
   'May Roberson',
   'Peter Robertson',
   'Adil Sahoo',
   'Constance Sloan',
   'Joe Smith',
   'Lenora Tejeda',
   'Kenneth Thibaud',
   'Cybil Trzeciak',
   'Roger Walker',
   'Jordan Winthrop',
   'Hang Wolk',
   'Jason Woodson',
   'Edward Buck',
   'Jessica Bunbury',
   'Michelle Carter',
   'Latia Costa',
   'Jenna Dietrich',
   'Alfred Digitale',
   'Maruk Fraval',
   'Gerry Friedman',
   'Whitney Gill',
   'Myriam Givens',
   'Ricardo Gonzales',
   'Mike Guilianno',
   'Jeremy Prater',
   'Bartholemew Khemmich',
   'Giovanni Leruth',
   'Joseph Martins',
   'Jac McKinzie',
   'Howard Mullaney',
   'Dheepa Nguyen',
   'Jasmine Onque',
   'Travis Ozark',
   'Xana Potts',
   'Michael Riordan',
   'Caitrin Strong',
   'Sharlene Terry',
   'Jackie Valentin',
   'Noah Villanueva',
   'Debra Houlihan',
   'Lynn Daneault',
   'Donysha Kampew',
   'John Smith',
   'Colby Andreola',
   'Judith Carabbio',
   'Keyla Del Bosque',
   'Susan Exantus',
   'Sandra Martin',
   'Luke Patronick',
   'Adell Saada',
   'Andrew Szabo',
   'Edward True',
   'Alex Sweetwater'],
  [['mia brown', 'Mia', 'mia', 'Brown', 'brown'],
   ['william larotonda', 'William', 'william', 'LaRotonda', 'larotonda'],
   ['tyrone steans', 'Tyrone', 'tyrone', 'Steans', 'steans'],
   ['estelle howard', 'Estelle', 'estelle', 'Howard', 'howard'],
   ['nan singh', 'Nan', 'nan', 'Singh', 'singh'],
   ['leigh smith', 'Leigh', 'leigh', 'Smith', 'smith'],
   ['brandon leblanc', 'Brandon', 'brandon', 'LeBlanc', 'leblanc'],
   ['sean quinn', 'Sean', 'sean', 'Quinn', 'quinn'],
   ['bonalyn boutwell', 'Bonalyn', 'bonalyn', 'Boutwell', 'boutwell'],
   ['amy foster-baker', 'Amy', 'amy', 'Foster-Baker', 'foster-baker'],
   ['janet king', 'Janet', 'janet', 'King', 'king'],
   ['jennifer zamora', 'Jennifer', 'jennifer', 'Zamora', 'zamora'],
   ['renee becker', 'Renee', 'renee', 'Becker', 'becker'],
   ['taisha goble', 'Taisha', 'taisha', 'Goble', 'goble'],
   ['daniff hernandez', 'Daniff', 'daniff', 'Hernandez', 'hernandez'],
   ['jayne horton', 'Jayne', 'jayne', 'Horton', 'horton'],
   ['noelle johnson', 'Noelle', 'noelle', 'Johnson', 'johnson'],
   ['thomas murray', 'Thomas', 'thomas', 'Murray', 'murray'],
   ['randall pearson', 'Randall', 'randall', 'Pearson', 'pearson'],
   ['thelma petrowsky', 'Thelma', 'thelma', 'Petrowsky', 'petrowsky'],
   ['lori roby', 'Lori', 'lori', 'Roby', 'roby'],
   ['ivan rogers', 'Ivan', 'ivan', 'Rogers', 'rogers'],
   ['jason salter', 'Jason', 'jason', 'Salter', 'salter'],
   ['kramer simard', 'Kramer', 'kramer', 'Simard', 'simard'],
   ['julia zhou', 'Julia', 'julia', 'Zhou', 'zhou'],
   ['jason foss', 'Jason', 'jason', 'Foss', 'foss'],
   ['simon roup', 'Simon', 'simon', 'Roup', 'roup'],
   ['ricardo ruiz', 'Ricardo', 'ricardo', 'Ruiz', 'ruiz'],
   ['peter monroe', 'Peter', 'peter', 'Monroe', 'monroe'],
   ['eric dougall', 'Eric', 'eric', 'Dougall', 'dougall'],
   ['rick clayton', 'Rick', 'rick', 'Clayton', 'clayton'],
   ['lisa galia', 'Lisa', 'lisa', 'Galia', 'galia'],
   ['leonara lindsay', 'Leonara', 'leonara', 'Lindsay', 'lindsay'],
   ['julia soto', 'Julia', 'julia', 'Soto', 'soto'],
   ['alejandro bacong', 'Alejandro', 'alejandro', 'Bacong', 'bacong'],
   ['anthony cisco', 'Anthony', 'anthony', 'Cisco', 'cisco'],
   ['linda dolan', 'Linda', 'linda', 'Dolan', 'dolan'],
   ['maria gonzalez', 'Maria', 'maria', 'Gonzalez', 'gonzalez'],
   ['carlos merlos', 'Carlos', 'carlos', 'Merlos', 'merlos'],
   ['tanya morway', 'Tanya', 'tanya', 'Morway', 'morway'],
   ['anita shepard', 'Anita', 'anita', 'Shepard', 'shepard'],
   ['neville tredinnick', 'Neville', 'neville', 'Tredinnick', 'tredinnick'],
   ['jumil turpin', 'Jumil', 'jumil', 'Turpin', 'turpin'],
   ['karthikeyan ait sidi', 'Karthikeyan', 'karthikeyan', 'Ait', 'ait'],
   ['claudia carr', 'Claudia', 'claudia', 'Carr', 'carr'],
   ['donald favis', 'Donald', 'donald', 'Favis', 'favis'],
   ['bianca roehrich', 'Bianca', 'bianca', 'Roehrich', 'roehrich'],
   ['ann daniele', 'Ann', 'ann', 'Daniele', 'daniele'],
   ['jyoti lajiri', 'Jyoti', 'jyoti', 'Lajiri', 'lajiri'],
   ['jeremiah semizoglou', 'Jeremiah', 'jeremiah', 'Semizoglou', 'semizoglou'],
   ['joe south', 'Joe', 'joe', 'South', 'south'],
   ['sarah warfield', 'Sarah', 'sarah', 'Warfield', 'warfield'],
   ['elisa bramante', 'Elisa', 'elisa', 'Bramante', 'bramante'],
   ['michael albert', 'Michael', 'michael', 'Albert', 'albert'],
   ['charles bozzi', 'Charles', 'charles', 'Bozzi', 'bozzi'],
   ['webster butler', 'Webster', 'webster', 'Butler', 'butler'],
   ['amy dunn', 'Amy', 'amy', 'Dunn', 'dunn'],
   ['elijiah gray', 'Elijiah', 'elijiah', 'Gray', 'gray'],
   ['jonathan hogland', 'Jonathan', 'jonathan', 'Hogland', 'hogland'],
   ['walter immediato', 'Walter', 'walter', 'Immediato', 'immediato'],
   ['ketsia liebig', 'Ketsia', 'ketsia', 'Liebig', 'liebig'],
   ['brannon miller', 'Brannon', 'brannon', 'Miller', 'miller'],
   ['ebonee peterson', 'Ebonee', 'ebonee', 'Peterson', 'peterson'],
   ['kelley spirea', 'Kelley', 'kelley', 'Spirea', 'spirea'],
   ['david stanley', 'David', 'david', 'Stanley', 'stanley'],
   ['kissy sullivan', 'Kissy', 'kissy', 'Sullivan', 'sullivan'],
   ['courtney wallace', 'Courtney', 'courtney', 'Wallace', 'wallace'],
   ['wilson adinolfi', 'Wilson', 'wilson', 'Adinolfi', 'adinolfi'],
   ['trina alagbe', 'Trina', 'trina', 'Alagbe', 'alagbe'],
   ['carol anderson', 'Carol', 'carol', 'Anderson', 'anderson'],
   ['linda anderson', 'Linda', 'linda', 'Anderson', 'anderson'],
   ['sam athwal', 'Sam', 'sam', 'Athwal', 'athwal'],
   ['linda bachiochi', 'Linda', 'linda', 'Bachiochi', 'bachiochi'],
   ['rachael baczenski', 'Rachael', 'rachael', 'Baczenski', 'baczenski'],
   ['thomas barbara', 'Thomas', 'thomas', 'Barbara', 'barbara'],
   ['francesco barone', 'Francesco', 'francesco', 'Barone', 'barone'],
   ['nader barton', 'Nader', 'nader', 'Barton', 'barton'],
   ['courtney beatrice', 'Courtney', 'courtney', 'Beatrice', 'beatrice'],
   ['scott becker', 'Scott', 'scott', 'Becker', 'becker'],
   ['sean bernstein', 'Sean', 'sean', 'Bernstein', 'bernstein'],
   ['lowan biden', 'Lowan', 'lowan', 'Biden', 'biden'],
   ['helen billis', 'Helen', 'helen', 'Billis', 'billis'],
   ['donna brill', 'Donna', 'donna', 'Brill', 'brill'],
   ['josephine bugali', 'Josephine', 'josephine', 'Bugali', 'bugali'],
   ['michael carey', 'Michael', 'michael', 'Carey', 'carey'],
   ['beatrice chace', 'Beatrice', 'beatrice', 'Chace', 'chace'],
   ['lin chan', 'Lin', 'lin', 'Chan', 'chan'],
   ['donovan chang', 'Donovan', 'donovan', 'Chang', 'chang'],
   ['enola chivukula', 'Enola', 'enola', 'Chivukula', 'chivukula'],
   ['caroline cierpiszewski',
    'Caroline',
    'caroline',
    'Cierpiszewski',
    'cierpiszewski'],
   ['elijian clukey', 'Elijian', 'elijian', 'Clukey', 'clukey'],
   ['james cockel', 'James', 'james', 'Cockel', 'cockel'],
   ['spencer cole', 'Spencer', 'spencer', 'Cole', 'cole'],
   ['lisa cornett', 'Lisa', 'lisa', 'Cornett', 'cornett'],
   ['jean crimmings', 'Jean', 'jean', 'Crimmings', 'crimmings'],
   ["jene'ya darson", "Jene'ya", "jene'ya", 'Darson', 'darson'],
   ['james degweck', 'James', 'james', 'DeGweck', 'degweck'],
   ['carl desimone', 'Carl', 'carl', 'Desimone', 'desimone'],
   ['geoff dickinson', 'Geoff', 'geoff', 'Dickinson', 'dickinson'],
   ['lily dinocco', 'Lily', 'lily', 'DiNocco', 'dinocco'],
   ['denisa dobrin', 'Denisa', 'denisa', 'Dobrin', 'dobrin'],
   ['marianne eaton', 'Marianne', 'marianne', 'Eaton', 'eaton'],
   ['jean engdahl', 'Jean', 'jean', 'Engdahl', 'engdahl'],
   ['rex england', 'Rex', 'rex', 'England', 'england'],
   ['miguel estremera', 'Miguel', 'miguel', 'Estremera', 'estremera'],
   ['april evensen', 'April', 'april', 'Evensen', 'evensen'],
   ['susan ferguson', 'Susan', 'susan', 'Ferguson', 'ferguson'],
   ['nilson fernandes', 'Nilson', 'nilson', 'Fernandes', 'fernandes'],
   ['violeta ferreira', 'Violeta', 'violeta', 'Ferreira', 'ferreira'],
   ['libby fidelia', 'Libby', 'libby', 'Fidelia', 'fidelia'],
   ['raul garcia', 'Raul', 'raul', 'Garcia', 'garcia'],
   ['hamish garneau', 'Hamish', 'hamish', 'Garneau', 'garneau'],
   ['barbara gaul', 'Barbara', 'barbara', 'Gaul', 'gaul'],
   ['mildred gentry', 'Mildred', 'mildred', 'Gentry', 'gentry'],
   ['melisa gerke', 'Melisa', 'melisa', 'Gerke', 'gerke'],
   ['alex gilles', 'Alex', 'alex', 'Gilles', 'gilles'],
   ['evelyn girifalco', 'Evelyn', 'evelyn', 'Girifalco', 'girifalco'],
   ['shenice gold', 'Shenice', 'shenice', 'Gold', 'gold'],
   ['cayo gonzalez', 'Cayo', 'cayo', 'Gonzalez', 'gonzalez'],
   ['david gordon', 'David', 'david', 'Gordon', 'gordon'],
   ['roxana goyal', 'Roxana', 'roxana', 'Goyal', 'goyal'],
   ['paula gross', 'Paula', 'paula', 'Gross', 'gross'],
   ['joanne handschiegl', 'Joanne', 'joanne', 'Handschiegl', 'handschiegl'],
   ['ludwick harrell', 'Ludwick', 'ludwick', 'Harrell', 'harrell'],
   ['christie harrington', 'Christie', 'christie', 'Harrington', 'harrington'],
   ['kara harrison', 'Kara', 'kara', 'Harrison', 'harrison'],
   ['anthony heitzman', 'Anthony', 'anthony', 'Heitzman', 'heitzman'],
   ['rose ivey', 'Rose', 'rose', 'Ivey', 'ivey'],
   ['maryellen jackson', 'Maryellen', 'maryellen', 'Jackson', 'jackson'],
   ['hannah jacobi', 'Hannah', 'hannah', 'Jacobi', 'jacobi'],
   ['sneha jhaveri', 'Sneha', 'sneha', 'Jhaveri', 'jhaveri'],
   ['george johnson', 'George', 'george', 'Johnson', 'johnson'],
   ['judy jung', 'Judy', 'judy', 'Jung', 'jung'],
   ['kramer keatts', 'Kramer', 'kramer', 'Keatts', 'keatts'],
   ['kathleen kinsella', 'Kathleen', 'kathleen', 'Kinsella', 'kinsella'],
   ['alexandra kirill', 'Alexandra', 'alexandra', 'Kirill', 'kirill'],
   ['bradley knapp', 'Bradley', 'bradley', 'Knapp', 'knapp'],
   ['john kretschmer', 'John', 'john', 'Kretschmer', 'kretschmer'],
   ['enrico langton', 'Enrico', 'enrico', 'Langton', 'langton'],
   ['dallas leach', 'Dallas', 'dallas', 'Leach', 'leach'],
   ['jonathan lebel', 'Jonathan', 'jonathan', 'LeBel', 'lebel'],
   ['marilyn linares', 'Marilyn', 'marilyn', 'Linares', 'linares'],
   ['allison lydon', 'Allison', 'allison', 'Lydon', 'lydon'],
   ['lindsay lynch', 'Lindsay', 'lindsay', 'Lynch', 'lynch'],
   ['samuel maclennan', 'Samuel', 'samuel', 'MacLennan', 'maclennan'],
   ['lauren mahoney', 'Lauren', 'lauren', 'Mahoney', 'mahoney'],
   ['debbie mangal', 'Debbie', 'debbie', 'Mangal', 'mangal'],
   ['shana maurice', 'Shana', 'shana', 'Maurice', 'maurice'],
   ['sandy mckenna', 'Sandy', 'sandy', 'Mckenna', 'mckenna'],
   ['elizabeth meads', 'Elizabeth', 'elizabeth', 'Meads', 'meads'],
   ['jennifer medeiros', 'Jennifer', 'jennifer', 'Medeiros', 'medeiros'],
   ['dawn motlagh', 'Dawn', 'dawn', 'Motlagh', 'motlagh'],
   ['colombui ndzi', 'Colombui', 'colombui', 'Ndzi', 'ndzi'],
   ['horia ndzi', 'Horia', 'horia', 'Ndzi', 'ndzi'],
   ['richard newman', 'Richard', 'richard', 'Newman', 'newman'],
   ['shari ngodup', 'Shari', 'shari', 'Ngodup', 'ngodup'],
   ['lei-ming nguyen', 'Lei-Ming', 'lei-ming', 'Nguyen', 'nguyen'],
   ["lynn o'hare", 'Lynn', 'lynn', "O'hare", "o'hare"],
   ['adeel osturnka', 'Adeel', 'adeel', 'Osturnka', 'osturnka'],
   ['clinton owad', 'Clinton', 'clinton', 'Owad', 'owad'],
   ['nina panjwani', 'Nina', 'nina', 'Panjwani', 'panjwani'],
   ['emil pelech', 'Emil', 'emil', 'Pelech', 'pelech'],
   ['shakira perry', 'Shakira', 'shakira', 'Perry', 'perry'],
   ['kayla peterson', 'Kayla', 'kayla', 'Peterson', 'peterson'],
   ['hong pham', 'Hong', 'hong', 'Pham', 'pham'],
   ['brad pitt', 'Brad', 'brad', 'Pitt', 'pitt'],
   ['morissa power', 'Morissa', 'morissa', 'Power', 'power'],
   ['louis punjabhi', 'Louis', 'louis', 'Punjabhi', 'punjabhi'],
   ['janine purinton', 'Janine', 'janine', 'Purinton', 'purinton'],
   ['quinn rarrick', 'Quinn', 'quinn', 'Rarrick', 'rarrick'],
   ['thomas rhoads', 'Thomas', 'thomas', 'Rhoads', 'rhoads'],
   ['haley rivera', 'Haley', 'haley', 'Rivera', 'rivera'],
   ['alain robinson', 'Alain', 'alain', 'Robinson', 'robinson'],
   ['cherly robinson', 'Cherly', 'cherly', 'Robinson', 'robinson'],
   ['elias robinson', 'Elias', 'elias', 'Robinson', 'robinson'],
   ['ashley rose', 'Ashley', 'ashley', 'Rose', 'rose'],
   ['bruno rossetti', 'Bruno', 'bruno', 'Rossetti', 'rossetti'],
   ['melinda saar-beckles',
    'Melinda',
    'melinda',
    'Saar-Beckles',
    'saar-beckles'],
   ['nore sadki', 'Nore', 'nore', 'Sadki', 'sadki'],
   ['kamrin sander', 'Kamrin', 'kamrin', 'Sander', 'sander'],
   ['nori sewkumar', 'Nori', 'nori', 'Sewkumar', 'sewkumar'],
   ['seffi shields', 'Seffi', 'seffi', 'Shields', 'shields'],
   ['sade smith', 'Sade', 'sade', 'Smith', 'smith'],
   ['taylor sparks', 'Taylor', 'taylor', 'Sparks', 'sparks'],
   ['kristen squatrito', 'Kristen', 'kristen', 'Squatrito', 'squatrito'],
   ['barbara stanford', 'Barbara', 'barbara', 'Stanford', 'stanford'],
   ['rick stoica', 'Rick', 'rick', 'Stoica', 'stoica'],
   ['timothy sullivan', 'Timothy', 'timothy', 'Sullivan', 'sullivan'],
   ['barbara sutwell', 'Barbara', 'barbara', 'Sutwell', 'sutwell'],
   ['desiree tavares', 'Desiree', 'desiree', 'Tavares', 'tavares'],
   ['sophia theamstern', 'Sophia', 'sophia', 'Theamstern', 'theamstern'],
   ['theresa tinto', 'Theresa', 'theresa', 'Tinto', 'tinto'],
   ['jeanette tippett', 'Jeanette', 'jeanette', 'Tippett', 'tippett'],
   ['mei trang', 'Mei', 'mei', 'Trang', 'trang'],
   ['abdellah veera', 'Abdellah', 'abdellah', 'Veera', 'veera'],
   ['colleen volk', 'Colleen', 'colleen', 'Volk', 'volk'],
   ['anna von massenbach', 'Anna', 'anna', 'Von', 'von'],
   ['theresa wallace', 'Theresa', 'theresa', 'Wallace', 'wallace'],
   ['scott whittier', 'Scott', 'scott', 'Whittier', 'whittier'],
   ['barry wilber', 'Barry', 'barry', 'Wilber', 'wilber'],
   ['jacquelyn williams', 'Jacquelyn', 'jacquelyn', 'Williams', 'williams'],
   ['catherine ybarra', 'Catherine', 'catherine', 'Ybarra', 'ybarra'],
   ['colleen zima', 'Colleen', 'colleen', 'Zima', 'zima'],
   ['sarah akinkuolie', 'Sarah', 'sarah', 'Akinkuolie', 'akinkuolie'],
   ['kimberly beak', 'Kimberly', 'kimberly', 'Beak', 'beak'],
   ['dianna blount', 'Dianna', 'dianna', 'Blount', 'blount'],
   ['betsy bondwell', 'Betsy', 'betsy', 'Bondwell', 'bondwell'],
   ['joseph buccheri', 'Joseph', 'joseph', 'Buccheri', 'buccheri'],
   ['joelle burke', 'Joelle', 'joelle', 'Burke', 'burke'],
   ['benjamin burkett', 'Benjamin', 'benjamin', 'Burkett', 'burkett'],
   ['jennifer cloninger', 'Jennifer', 'jennifer', 'Cloninger', 'cloninger'],
   ['phil close', 'Phil', 'phil', 'Close', 'close'],
   ['daniel davis', 'Daniel', 'daniel', 'Davis', 'davis'],
   ['carla demita', 'Carla', 'carla', 'Demita', 'demita'],
   ['angela erilus', 'Angela', 'angela', 'Erilus', 'erilus'],
   ['megan faller', 'Megan', 'megan', 'Faller', 'faller'],
   ['nicole fancett', 'Nicole', 'nicole', 'Fancett', 'fancett'],
   ['michael fitzpatrick', 'Michael', 'michael', 'Fitzpatrick', 'fitzpatrick'],

In [13]:
len(ent_dict['name'][1])

301

<h4>Labelling Check</h4>

In [37]:
intent_txt = pd.read_csv('HR Manager Schema - intent_master.csv')
intent_txt = intent_txt.iloc[2:, :]
intent_txt

,get_info,get_aggregate,get_employees,get_salary,get_salary_aggregate,get_salary_employees,get_date,get_date_range_aggregate,get_date_range_employees,get_hierarchy_up,get_hierarchy_down
2,what is {Phylicia Gosciminski|name}s org role,{percent|function} employees {below|comparator...,{female|sex} employees,Amount that {Julia|name} gets {paid|money},among all of the employees that found their jo...,Which {Sr. DBA|position} {earns|money} the {mo...,What year was {Lily DiNocco|name} {let go|empl...,{percent|function} of employees {born|dob} in ...,I want {male|sex} {born|dob} in the {1930s|tim...,is {Charles Bozzi|name} the {mentor|manager} f...,can i have the names of employees who {report ...
3,What position is {ivan|name} in?,{count|function} of workers are {less than|com...,employees {hispanic|racedesc}?,{joanne handschiegl|name} {each month|time_rec...,{sum|function} {pay|money} for {female|sex}?,Which employee(s) have {lowest|extreme} {incom...,Has {Sarah Warfield|name} been working here fo...,{1974|sys_time} {born|dob} employees {percent|...,Which employees did we {get rid of|employment_...,is {Peter Monroe|name} {managing|manager} {Amy...,which employees is {Ivan singh|name} the {mana...
4,Why did {Megan|name} get {fired|employment_act...,{How many|function} employees are {C-levels|po...,get me the {youngest|extreme} {five|sys_number...,{Mia|name} {earns|money} what amount {each day...,give me the {mean|function} {salary|money} for...,give me the {earners|money} for all of the emp...,What was the exact date when {desiree|name} wa...,What {percentage|function} of employees were {...,{forties|time_interval} {born|dob} employees w...,who is {helen billis|name}s {managing|manager}...,Who are those employees that are {under|compar...
5,Which department is {adrienne homberger|name} in?,Gimme the {percent|function} of {50|age} year ...,give me a list of {separated employees|marital...,What does {mia|name}'s {paycheck|money} look l...,what is the {highest|extreme} {amount|money} t...,give me the {earnings|money} for all of the em...,How long has Mr.{Knapp|name} worked here?,{1945|sys_time} {born|dob} employees {percent|...,Which are the employees such that in {2005|sys...,who is the {manager|manager} assigned to {luis...,I want to know if {Amy Dunn|name} is a {manger...
6,is {abdellah veera|name} a {cio|position} or not?,{How many|function} people are {performing bad...,employees that live in {california|state},{webster|name} is {earning|money} what amount ...,What is the {total|function} {earnings|money} ...,what are {network engineers|position} {making|...,Has {Nicole|name} been working here for {4 yea...,What {percent|function} of employees were {hir...,i want the employees that have been {hired |em...,I want to know if {Sam Athwal|name} {works for...,{Jenna Dietrich|name} is the {supervisor|manag...
7,Is {Mohammed Latif|name} a citizen of the us?,{cumulative|function} {count|function} of empl...,Which employees have been {terminated|employme...,"Does {54,000|sys_number} exceed what {jessica|...",what are {women|sex} {making|money} on {averag...,all the {earnings|money} of {female|sex} in th...,What was the date when {ivan rogers|name} was ...,What {percentage|function} of employees have b...,Give me the employees that have a {join date|e...,who is {Thelma Petrowsky|name}'s {managing|man...,Which are all of the employees who are having ...
8,Where does {ivan rogers|name} live?,{average|function} {age of|age} the employees ...,Who {has worked here|employment_action} based ...,{ivan|name} {Salary|money} {Yearly|time_recur},"of all the {sales manager|position}s, what is ...",who {makes|money} the {minimum|extreme} {incom...,When {Sophia Theamstern|name} was {hired|emplo...,can you please tell me what {fraction|function...,Fetch me a list of workers that have their {bi...,does {Dianna Blount|name} {report|manager} to ...,Tell me which employees have {Patrick Moran|na...
9,I want {sarah warfield|name}'s state,What's the {summed|function} {num of|function}...,give me a list of employees that are based in ...,What does {Rose Ivey|name} get for {income|mon...,get me the {average|function} amount that the ...,Get me the {lowest|extreme} {six|sys_number} {...,Fetch me {Francesco Barone|name}'s {Bday|dob},What {pct|function} of our staff have a {bday|...,get me {senior database admins|position} {born...,get me a list of all of the employees who {sup...,Who are those employees that right now have {C...
10,how did {dawn|name} hear about our corporation,What is the {total|function} {number of|functi...,Which employees have been with the company lon...,"According to the {payroll|money}, how much doe...",{number of|function} people {earning|money} {f...,which employees are {making|money} {less than|...,{Leigh Smith|name} {date of birth|dob},What {percentage|function} of employees were {...,I want all of the employees in the {sales depa...,list employees who {leads|manager} {Adrienne H...,Gimmmie a list of employees that are currently...
11,Does {Michael|name} {still work at|employment_...,{average|function} {age of|age} workers who ar...,employees are {under|comparator} {45|sys_numbe...,What is {Brooke oliver|name}'s {each year|time...,give me the {typical|function} take home {sala...,{non-citizen|citizendesc} {paycheck|money}s,{Ashley Rose|name} {birthday|dob},I want the {total|function} {number of|functio...,Can you tell me whether there are any {June|sy...,{amy dunn|name} {manager|manager} name,i want the name of everyone that is {working f...
12,is {Ivan Rogers|name} {currently active|employ...,What {count|function} of employees {meet 90-da...,who is {working for|manager} {IT support|posit...,{april Evensen|name} {incomes|money},What is the {sum|function} of {earnings|money}...,what are {accountant i|position} {paid|money} ...,When was {Francesco Barone|name}'s {hiring dat...,Tell me the {pct|function} of staff that have ...,{November|sys_time} {born|dob} employees,so who is {Rose Ivey|name}'s reporting {manage...,{Janine Purinton|name} is the {mentor|manager}...
13,Is the {software engineering|department} the d...,whats the {added up|function} number of employ...,{eligible noncitizen|citizendesc} employees,{Ivan Rogers|name} {Salary|money} {Daily|time_...,"of all the {network engineer|position}s, what ...",who {make|money} a {salary|money} {more than|c...,The date was what when {Allison Lydon|name} be...,{1980|sys_time} {born|dob} employees {total|fu...,who are our {1940's|time_interval} {born|dob} ...,who all is {management|manager} of {Estelle Ho...,I want an employee list with all of the folks ...
14,{Adell Saada|name}'s occupation?,Fetch me the {count|function} of managers in t...,Tell me Which employees who are not {us citize...,When we let {ivan rogers|name} go {fired|emplo...,What's the {ratios|function} {earnings|money} ...,{earnings|money} {female|sex},Please get me {DOB|dob} of {Ludwick Harrell|name},Fetch me {percent|function} that {started work...,{hispanic|racedesc} employees {born|dob} {afte...,employees that directly {manage|manager} {Jere...,Give me all of the employees hv {Karen Mancuso...
15,what's {Shakira|name}'s role at the organization,What is the {percentage|function} of {engineer...,All employees from {Alabama|state} state,What does {Rose Ivey|name}'s {make|money} look...,{sr. accountant|position} {total|function} {sa...,Of the employees {hired|employment_action} {af...,{nan|name} {birth date|dob},{ratio|function} out of all of the employees t...,Which workers at the company have a {birthday|...,Tell me who is Mr.{Enrico Langton|name}'s {man...,{works for|manager} {scott|name}
16,What is {Julia|name}'s race?,{distribution|function} in department with pri...,show me {multi-racial|racedesc} employees,{Payrate|money} {Mia Brown|name},{total|function} {number of|function} employee...,{paycheck|money} {male|sex},What was {Estelle|name}s {start date|employmen...,what is the {fraction|function} of employees t...,{seventies|time_interval} {born|dob} employees...,is {Andrew Szabo|name} {head|manager} of {Patr...,Which employees have {ivan|name} as their {man...
17,how did {Ivan Rogers|name} hear about us,{ratio|function} employees work in {OH|state},{widowed|maritaldesc} employees,Tell me how much {Robyn Manchester|name} {earn...,fetch me the {min|extreme} {paycheck|money} fo...,Who {earns|money} the {most|extreme} in the {p...,When was {ivan rogers|name} {born|dob}?,{count|function} employees {born|dob} {before|...,Get me list of employees that have a {DOB|dob}...,which employees that have a {manager name|mana...,can you tell me whether {Amy|name} is a {boss|...
18,what is {thomas murray|name}'s race?,What is the {average|function} {performance sc...,employee {managers|position},What does {Maliki|name}'s {salary|money} look ...,{avg|function} {income|money} for {on-line web...,get the {salaries|money} of employees in the {...,Please Get me {Kelley Spirea|name}'s {Bday|dob},For all of those that {joined|employment_actio...,Give me a list of employees that were {hired|e...,is {Amy Dunn|name} {managed by|manager} {Peter...,Who are those employees that directly {report|...
19,tell me what is {nan singh|name}'s citizenship...,{How many|function} people are {over|comparato...,Who is our {maximum|extreme} employee?,Does {Brad Pitt|name} {income|money} {more tha...,{How many|function} people are {paid|money} {l...,who are the company's {lowest|extreme} {7|sys_...,What is {nan singh|name}'s {date of birth|dob}?,how many {joined|employment_action} {prior to|...,Tell me about employees who were {hired|employ...,is {Peter Monroe|name} the {manager|manager} f...,All of the employees that are {reporting to|ma...
20,which branch is the one that {Brannon Miller|n...,{sum|function} employees live in {UT|state}?,Show {single|maritaldesc} employees,how much {$|money} does {Carl Desimone|name} m...,amount of {money|money} {earned|money} by {fem...,{income|money} of {female|sex} in the org,When did {Seffi Shields|name} get {fired|emplo...,Is there anyone who {joined|employment_action}...,Which employees are {DOB|dob} in the second we...,get me ms. {dunn|name}'s {manager|manager} ful...,is {mia|name} the {manager|manager} of {julia|...
21,What does {sophia theamstern|name} do?,What is the {combined|function} number of empl...,provide me a list of {it manager - infra|posit...,Does {Howard Mullaney|name}'s {$|money} {less ...,what is the {typical|function} {earning|money}...,show me the {min|extreme} {earners|money} that...,When was {Charles Bozzi|name} {hired|employmen...,{count|function} of employees {born|dob} {befo...,{2011|sys_time} {started working here|employme...,{Amy Dunn|name} {manager|manager},can i get the employee names for those {report...
22,"tell me, is {Julissa Hunts|name} a {widowed|ma...",what is the {summed|function} tenure of employ...,employees that are {director of sales|position},What is {julia soto|name}'s exact {salary|mone...,what is the {average|function} {salary|money} ...,{software engineering|department} {pay|money},I want the date when {julia soto|name} {starti...,{total|function} employees that have {been wit...,find me the {black or african american|racedes...,is {smith|name} {reporting to|manager} {christ...,{Amy Dunn|name} {manages|manager} which indivi...
23,is Mr.{julia soto|name} based in {Oregon|state},{percent|function} employees work in {IN|state},get me a list of {cio|position} staff,{jeanette|name} {earns|money} {every year|time...,what {portion|function} of employees that {wor...,I want a list with {pay|money} of employees th...,When was {Carla Demita|name}'s {join|employmen...,{How many|function} employees were {born|dob} ...,Which employees are {born|dob} in the second w...,who is Ms. {Debra Houlihan|name} {supervisor|m...,Get me an employee list with people who {work ...
24,what {department|department} does {nan singh|n...,{total|function} employees are that {female|sex}?,employee with the {highest|extreme} {age|age},How much is {nan|name} {making|money} on {Payr...,what is the {min|extreme} {earning|money} in t...,what are {it director|position} {making|money}...,What was {nan|name}'s {date of hiring|employme...,what is the {total|function} {number of|functi...,Show me {female|sex}s {born|dob} in the {ninet...,whats the person that {Anita Shepard|name} has...,for which employees is {christie|name} the {bo...
25,how {old|age} is {Michael|name} and is he a bo...,{percentage|function} working here that r {mal...,{accountant i|position} employees,How much does Cisco give {nan|name} in {$|mone...,what is the {fraction|function} of {female|sex...,Tell me the employee that {works under|manager...,tell me {birth date|dob} of {Lei-Ming Nguyen|n...,Can you {count|function} the number of people ...,Which employees were not yet {born|dob} when {...,{Nori Sewkumar|name} is the {reporting|manager...,if There is anyone {working for|manager} Mr. {...
26,whats {Daniff HerIvandez|name}'s race?,{How many|function} employees work for {Michae...,Which employees were {join date|employment_act...,Is {50k|sys_number} {more than|comparator} wha...,what is the {total|function} amount of {money|...,Which employee(s) have {highest|extreme} {payc...,"When {Amy|name} was {born|dob}, what was the m...",i want the {count|function} of employees that ...,Which people weren't yet {born|dob} when {9/11...,who is the {boss|manager} of {James Cockel|nam...,who {works for|manager} {Ivan Rogers|name}
27,What is {Hakim|name}'s level in the organization?,{cumulative|function} {num of|function} employ...,employees have a {start date|employment_action...,{melisa|name} {each day|time_recur} {earnings|...,{Mean|function} {pay|money} of workers {hired|...,list employees {making|money} {more than|compa...,When was it that {Barry Wilber|name} {started ...,{last|date_compare} {three months|sys_duration...,{June|sys_time} {born|dob} in - employees,Find me who is the person {Jackie|name} is {re...,can i have all of the names who report to {Nor...
28,the reason for {paula gross|name}'s sudden {en...,{How many|function} employees are {above|compa...,which staff work in {IT|department},What does {Eric Dougall|name} {earnings|money}...,Describe the {salary|money} {range|function} f...,give me the {salaries|money} of {interracial|r...,What was day when {nan singh|name} was {born|dob},Were there more {men|sex} with {birthdays|dob}...,{2013|sys_time} {hired|employment_action} empl...,Get me the person who is {managing|manager} {e...,Is {Amy Dunn|name} a {manager|manager}
29,how {old|age} is {hogland|name} and is he a {b...,{cumulative|function} of Employees in departme...,employees between the {age of|age} {20|sys_num...,What does {thelma petrowsky|name} {earner|mone...,what do {men|sex} {make|money} here on {averag...,For employees {hired|employment_action} {betwe...,Has {Kristen Squatrito|name} been working here...,{how many|function} new employees based out of...,{fifteen|sys_number} {most|extreme} recently {...,{boss|manager} name for mr {Bradley Knapp|name},Are there any workers who {report to|manager} ...
30,Is {28|age} the {age of|age} {lauren mahoney|n...,{Number of|function} {Married|maritaldesc} emp...,who are the {top|extreme} {10|sys_number}{perc...,{dianna blount|name} {earns|money} how much {b...,what is the {lowest|extreme} {income|money} th...,{earnings|money} for people working in the {it...,When {Alexandra Kirill|name} was {joining|empl...,{total|function} of workers {DOB|dob} {prior t...,have there been any employees that have been w...,which employees currently have a {boss|manager...,for which employees is {Jeanette Tippett|name}...
31,What is Mrs.{Nowlan|name}'s position?,Calculate the {total|function} of employees th...,Which employees {quit working|employment_statu...,What is {Brannon|name}'s {daily basis|time_rec...,what is the {average|function} {income|money} ...,"Of all the {area sales manager|position}, whic...",{Violeta Ferreira|name} {started|employment_ac...,{started employment|employment_action} {less t...,{1960's|time_interval} {born|dob} {asian|raced...,Who is {John Reeder|name}'s {manager|manager}?,Tell me who is the worker {reporting|manager} ...
...,...,...,...,...,...,...,...,...,...,...,...
332,what is {ivan|name} department,NaN,is anyone {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,what is {mia|name}'s department,NaN,is there anyone who is {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,what is {george|name}'s department,NaN,is there anyone that is {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,what is {Nan Singh|name}s department,NaN,is anyone thats {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,{eric|name}'s position is what,NaN,people who are {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,{miguel|name}'s position is what,NaN,people who are {married|maritaldesc},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,{mey|name}'s position is what,NaN,the {highest ranking|position} employee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,{abdellah|name}'s position is what,NaN,who is the {highest ranking|position} employee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,what is {eric|name} position,NaN,find me the {highest ranking|position} employee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,what is {bruno|name}'s position,NaN,{highest ranking|position} person in the company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,what is {shakira|name}'s position,NaN,{highest ranking|position} people in the company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,what is {timothy|name}s position,NaN,{highest ranking|position} employees in the co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,what is the race of {bruno|name},NaN,who is the {highest ranking|position},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,tell me the race of {mia|name},NaN,is there anyone {older than|comparator} {67|sy...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,get me the race of {nan|name},NaN,is there anyone {older than|comparator} {67|sy...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,find me the race of {taylor|name},NaN,people {older than|comparator} {54|sys_number}...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,i want to know what {taylor|name}'s race is,NaN,employees {older than|comparator} {67|sys_numb...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,tell me what is {taylor|name}'s race,NaN,anybody {older than|comparator} {67|sys_number...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,what is the race of {taylor|name},NaN,who all are {older than|comparator} {29|sys_nu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,what race is {mia|name},NaN,anyone here {younger than|comparator} {67|sys_...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,what race is {nan|name},NaN,{younger than|comparator} {12|sys_number} {yea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,what is the race of {nan|name},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,what is the race of {ivan|name},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,what is the position of {bruno|name},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,whats the position of {ivan|name},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,what department is {mia|name} in?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,which department is {mia|name} in?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,what is {mia|name}'s job title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,what is {bruno|name}'s job title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,what is {ivan|name}'s job title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#label_chk(intent_txt, ent_dict)

In [16]:
#get_labels("What is the {manager|manager} name of {Julia|name}?")

In [17]:
#ent_dict

<h4>Generate Gazetteers</h4>

In [38]:
gen_gazetteers(ent_dict)

<h4>Generate Mapping.json</h4>

In [39]:
gen_map_json_files(ent_dict)

<h4>Data Augmentation</h4>

In [20]:
def entity_swap(sentence, positions, uniq):
    chars = list(sentence)
    for i in reversed(range(len(positions))):
        pos = positions[i]
        ent = ''.join(chars[pos[0]:(pos[1] + 1)])
        excluded = [] #['age']
        #print("ENTITY FOUND")
        #print(ent)
        kv = get_kv([ent])
        #print(kv)       
        for i in range(len(kv[0])):
            if kv[1][i] in uniq and kv[1][i] not in excluded:
                new_ent = "{" + random.choice(uniq[kv[1][i]]) + "|" + kv[1][i] + '}'
                chars[pos[0]:(pos[1]+1)] = list(new_ent)
                #print(new_ent)
    #print("FINAL")
    return "".join(chars)

In [21]:
#entity_swap("What is the {manager|manager} name of {Julia|name}?", [[12, 28], [38, 49]], uniq)

In [22]:
#intent_txt['get_info'][6]

In [23]:
def data_augment(df, uniq):
    df = intent_txt
    for col in df:
        augment = []
        print(col.upper() + "=============================================================")
        idx = 2
        nan = is_nan(df[col][idx])
        l_dict = {}
        while(idx < len(df)):
                if(is_nan(df[col][idx])): break
                #print(idx)
                sentence = df[col][idx]
                labels, pos = get_labels(sentence)
                for i in range(3): augment.append(entity_swap(sentence, pos, uniq))
                idx += 1
        # Create files
        #augment = set(augment)
        #if((250 - idx) < len(augment)): augment = random.sample(augment, 250 - idx)
        print("Augmented Lines Generated: " + str(len(augment)))
        with open('data_augment/' + col + ".txt", 'w+') as filehandle:  
            filehandle.writelines("%s\n" % line for line in augment)

#data_augment(intent_txt, uniq)

<h4>Add Baby Names</h4>

In [27]:
baby_names = list(set(pd.read_csv('baby-names.csv')['name']))

In [34]:
ent_dict['name'][2] = uniq_baby_names

In [35]:
ent_dict['name'][2]

{'Clemence',
 'Maya',
 'Foy',
 'Danyel',
 'Nichol',
 'Brea',
 'Modena',
 'Laila',
 'Tyrel',
 'Wilfrid',
 'Cam',
 'Jared',
 'Clydie',
 'Mendy',
 'Johnpaul',
 'Skyla',
 'Amon',
 'Janiyah',
 'Solomon',
 'Mahala',
 'Julian',
 'Winston',
 'Muhammad',
 'Jana',
 'Latonya',
 'Neil',
 'Gwen',
 'Minoru',
 'Vivienne',
 'Jamar',
 'Rubie',
 'Leone',
 'Hilario',
 'Crockett',
 'Precious',
 'Whit',
 'River',
 'Janet',
 'Lemmie',
 'Jeramy',
 'Kade',
 'Jayvion',
 'Almeta',
 'Erika',
 'Lynsey',
 'Harrison',
 'Darian',
 'Iris',
 'Alfie',
 'Laurence',
 'Gianni',
 'Rylie',
 'Kennth',
 'Derrek',
 'Brad',
 'Lulie',
 'Fronnie',
 'Betsey',
 'Kent',
 'Torie',
 'Hobson',
 'Daija',
 'Felicie',
 'Shona',
 'Tyrell',
 'Charlton',
 'Audie',
 'Izabelle',
 'Isla',
 'Arvel',
 'Crissie',
 'Kash',
 'Ethyl',
 'Daunte',
 'Helaine',
 'Lavenia',
 'Armstead',
 'Maia',
 'Ura',
 'Albert',
 'Florentino',
 'Jacquline',
 'Kiley',
 'Marita',
 'Sabina',
 'Jaxon',
 'Captain',
 'Chelsy',
 'Mechelle',
 'Theresia',
 'Kasandra',
 'Staci',
 'Rosella',
 'Clementine',
 'Jeremiah',
 'Adolf',
 'Bernardo',
 'Auguste',
 'Lillis',
 'Miriam',
 'Malachi',
 'Rolf',
 'Jalyn',
 'Norberto',
 'Edgardo',
 'Serenity',
 'Edward',
 'Verle',
 'Waldo',
 'Ibrahim',
 'Kiana',
 'Fleeta',
 'Lucie',
 'Zakary',
 'Ottie',
 'Gerhardt',
 'Latarsha',
 'Lewis',
 'Levy',
 'Dolphus',
 'Hoke',
 'Noah',
 'Rigoberto',
 'Grayce',
 'Breann',
 'Lydia',
 'Isaak',
 'Boysie',
 'Rudolfo',
 'Roxana',
 'Eliza',
 'Omer',
 'Dimitrios',
 'Alonzo',
 'Adams',
 'Charles',
 'Leeann',
 'Marcelo',
 'Echo',
 'Gladis',
 'Crista',
 'Alyce',
 'Kenny',
 'Sergio',
 'Harrell',
 'Ryland',
 'Nira',
 'Kole',
 'Mirtie',
 'Seaborn',
 'Michelle',
 'Case',
 'Rosaria',
 'Lizeth',
 'Macie',
 'Rubye',
 'Cael',
 'Anaya',
 'Gustavus',
 'Kazuo',
 'Floyd',
 'Mearl',
 'Elmore',
 'Kianna',
 'Craig',
 'Jayce',
 'Robyn',
 'North',
 'Mariyah',
 'Dwayne',
 'Eugenio',
 'Timmothy',
 'Jo',
 'Kordell',
 'Montel',
 'Zigmund',
 'Kacey',
 'Cornie',
 'Orville',
 'Leilani',
 'Camille',
 'Cassandra',
 'Akeelah',
 'Brodie',
 'Erwin',
 'Kimberely',
 'Demarco',
 'Johan',
 'Miranda',
 'Rosa',
 'Zayne',
 'Arlena',
 'Pinkney',
 'Payton',
 'Maryellen',
 'Leisha',
 'Clarisa',
 'Patience',
 'Myrle',
 'Harvey',
 'Tatia',
 'Vern',
 'Danna',
 'Gaines',
 'Tressa',
 'Lota',
 'Sheena',
 'Alvia',
 'Toshiko',
 'Mayo',
 'Jazlyn',
 'Washington',
 'Evander',
 'Jenni',
 'Siena',
 'Makai',
 'Mayme',
 'Aryana',
 'Nyasia',
 'Moses',
 'Devan',
 'Karyn',
 'Crissy',
 'Orris',
 'Aylin',
 'Priscila',
 'Lavern',
 'Delmas',
 'Keely',
 'Cinda',
 'Joellen',
 'Jule',
 'Ollie',
 'Jessica',
 'Phoenix',
 'Cilla',
 'Celia',
 'Kale',
 'Katherine',
 'Nita',
 'Glendon',
 'Chauncy',
 'Keenan',
 'Sonji',
 'Orie',
 'Pandora',
 'Albina',
 'Littleton',
 'Tremayne',
 'Domenico',
 'Krystin',
 'Chrissie',
 'Jaydon',
 'Sondra',
 'Malcom',
 'Cal',
 'Shirlee',
 'Charls',
 'Robley',
 'Emett',
 'Hedwig',
 'Merlyn',
 'Harlon',
 'Pearly',
 'Michael',
 'Lora',
 'Reynolds',
 'Damarcus',
 'Georgiana',
 'Deandre',
 'Corrie',
 'Kobe',
 'Walt',
 'Rudolf',
 'Arietta',
 'Tamika',
 'Isiah',
 'Marceline',
 'Bret',
 'Jaimee',
 'Lular',
 'Janyce',
 'Stoney',
 'Lutie',
 'Scarlett',
 'Allan',
 'Lexus',
 'Nettie',
 'Winnie',
 'Lucious',
 'Tyriq',
 'Arlan',
 'Kate',
 'Mykel',
 'Dylon',
 'Anne',
 'Delta',
 'Margaret',
 'Kieth',
 'Evie',
 'Renae',
 'Lyndsey',
 'Johnathan',
 'Lanita',
 'Malissie',
 'Leonora',
 'Herlinda',
 'Leticia',
 'Marcy',
 'Augustin',
 'Noretta',
 'Katelynn',
 'Carla',
 'Dion',
 'Ciji',
 'Cato',
 'Rosemarie',
 'Bernie',
 'Eber',
 'Eulalie',
 'Harden',
 'Elizebeth',
 'Rollo',
 'Deena',
 'Tonda',
 'Florie',
 'Garret',
 'Artie',
 'Felipa',
 'Ariana',
 'Amanda',
 'Marques',
 'Gretchen',
 'Tiffany',
 'Cristin',
 'Madge',
 'Alex',
 'Dylan',
 'Octavia',
 'Carlee',
 'Vicente',
 'Walton',
 'Napoleon',
 'Caldonia',
 'Dax',
 'Rodrigo',
 'Idella',
 'Nathan',
 'Melinda',
 'Hays',
 'Carmela',
 'Lasonya',
 'Tina',
 'George',
 'Joi',
 'Shanika',
 'Kaylah',
 'Peggie',
 'Anita',
 'Jose',
 'Newman',
 'Meagan',
 'Godfrey',
 'Edison',
 'Tena',
 'Reta',
 'Erlene',
 'Shelby',
 'Vallie',
 'Zora',
 'Jenniffer',
 'Michaela',
 'Chase',
 'Jerimy',
 'Jonell',
 'Juwan',
 'Roderick',
 'Tessa',
 'Briana',
 'Mckenna',
 'Joey',
 'Willian',
 'Richie',
 'Jann',
 'Nannette',
 'Freida',
 'Shea',
 'Geovanni',
 'Fannye',
 'Racquel',
 'Annalise',
 'Maggie',
 'Akira',
 'Dave',
 'Hilton',
 'Cordaro',
 'Rico',
 'Herschel',
 'Electa',
 'Courtney',
 'Jakob',
 'Angeline',
 'Ceil',
 'Esau',
 'Kinsley',
 'Abelardo',
 'Kortney',
 'Jimena',
 'Lakeshia',
 'Thedore',
 'Johnna',
 'Loy',
 'Vinie',
 'Marinda',
 'Al',
 'Jimmy',
 'Leala',
 'Wilda',
 'Amiya',
 'Emaline',
 'Grisel',
 'Gurney',
 'Kathryne',
 'Khari',
 'Sharla',
 'Siddie',
 'Vick',
 'Gerry',
 'Alize',
 'Delton',
 'Maverick',
 'Azalee',
 'Fenton',
 'Alexandra',
 'Walker',
 'Selma',
 'Elaina',
 'Mammie',
 'Carleigh',
 'Krystina',
 'Omie',
 'Ezra',
 'Eleonore',
 'Wende',
 'Milly',
 'Kailey',
 'Makenzie',
 'Sharde',
 'Aliana',
 'Elisha',
 'Imanol',
 'Abel',
 'Talmage',
 'Codey',
 'Shellie',
 'Farrell',
 'Berlin',
 'Loreen',
 'Tatiana',
 'Nanette',
 'Pansy',
 'Kathey',
 'Taft',
 'Murl',
 'Mallory',
 'Jammie',
 'Karlie',
 'Odus',
 'Duard',
 'Chandra',
 'Ione',
 'Teena',
 'Ocie',
 'Colton',
 'Jesse',
 'Kasen',
 'Rilla',
 'Enoch',
 'Darla',
 'Burdette',
 'Cecile',
 'Jayden',
 'Mireya',
 'Earlie',
 'Toma',
 'Janie',
 'Enriqueta',
 'Antonio',
 'Lorraine',
 'Dianne',
 'Tashina',
 'Fallon',
 'Barnett',
 'Diann',
 'Elliana',
 'Dosha',
 'Karis',
 'Carlie',
 'Rosy',
 'Charlotta',
 'Deasia',
 'Neal',
 'Kamilah',
 'Vinson',
 'Katheryn',
 'Shannon',
 'Kathy',
 'Luetta',
 'Chantal',
 'Monserrat',
 'Dell',
 'Leoma',
 'Jalen',
 'Lauri',
 'Annabel',
 'Trey',
 'Golden',
 'Atlas',
 'Tiny',
 'Garrett',
 'Aloys',
 'Vaughn',
 'Mercer',
 'Adelbert',
 'Lawrance',
 'Dedrick',
 'Sylvan',
 'Luana',
 'Verl',
 'Hayward',
 'Danette',
 'Armida',
 'Brent',
 'Yadira',
 'Bradley',
 'Andy',
 'Ami',
 'Ainsley',
 'Dewayne',
 'Mervin',
 'Charlene',
 'Hildegard',
 'Marci',
 'Minervia',
 'Estevan',
 'Elsworth',
 'Felicia',
 'Cleo',
 'Tamia',
 'Judith',
 'Smith',
 'Joy',
 'Ezequiel',
 'Whitley',
 'Lillian',
 'Marty',
 'Gretta',
 'Margarito',
 'Math',
 'Anahi',
 'Janette',
 'Tallie',
 'Benito',
 'Agatha',
 'Thorwald',
 'Sherri',
 'Randell',
 'Jesenia',
 'Evelena',
 'Ashtyn',
 'Elenor',
 'Iliana',
 'Nathalie',
 'Dianna',
 'Hillary',
 'Vonda',
 'Tobi',
 'Tiana',
 'Ethan',
 'Amerigo',
 'Holly',
 'Albin',
 'Cydney',
 'Stanislaus',
 'Tab',
 'Timmie',
 'Madisen',
 'Brycen',
 'Phil',
 'Daryl',
 'Amma',
 'Alessandra',
 'Elberta',
 'Elvina',
 'Urijah',
 'Valentino',
 'Zita',
 'Darryle',
 'Hyman',
 'Stuart',
 'Gaylen',
 'Charly',
 'Orpha',
 'Lelah',
 'Dwain',
 'Elizabet',
 'Carleton',
 'Tommy',
 'Tawanna',
 'Pennie',
 'Cleora',
 'Signe',
 'Remington',
 'Ara',
 'Augusta',
 'Margarita',
 'Jeraldine',
 'Tenisha',
 'Corry',
 'Colonel',
 'Harding',
 'Sam',
 'Benjamine',
 'Olive',
 'Adolfo',
 'Jeanie',
 'Laurene',
 'Ralph',
 'Davie',
 'Karsyn',
 'Clarance',
 'Lenore',
 'Neely',
 'Nadia',
 'Jens',
 'Corda',
 'Lidia',
 'Sharen',
 'Larae',
 'Felice',
 'Rachael',
 'Elodie',
 'Gidget',
 'Cas',
 'Garland',
 'Brandin',
 'Eva',
 'Ernestina',
 'Jackson',
 'Makayla',
 'Liana',
 'Eben',
 'Vickey',
 'Ambrose',
 'Georgette',
 'Dayne',
 'Raekwon',
 'Franklyn',
 'Levi',
 'Kelley',
 'Virgel',
 'Yetta',
 'Arsenio',
 'Virgia',
 'Verda',
 'Taja',
 'Hattie',
 'Bette',
 'Pinkie',
 'Steve',
 'Lillianna',
 'Makenna',
 'Jeb',
 'Deric',
 'Blaine',
 'Morgan',
 'Emiliano',
 'Alger',
 'Brant',
 'Tresa',
 'Hung',
 'Kelsea',
 'Kinte',
 'Roxanne',
 'Damarion',
 'Rudolph',
 'Shreya',
 'Latanya',
 'Katharine',
 'Osborne',
 'Lucky',
 'Terrill',
 'Chloie',
 'Jill',
 'Jasmyn',
 'Kaya',
 'Brianna',
 'Aaron',
 'Philomena',
 'Olen',
 'Loria',
 'Ely',
 'Lela',
 'Diamond',
 'Barrie',
 'Raymundo',
 'Tate',
 'Jackie',
 'Kittie',
 'Fleet',
 'Eldora',
 'Shafter',
 'Eartha',
 'Christene',
 'Alexia',
 'Lu',
 'Caitlin',
 'Barron',
 'Paula',
 'Elliot',
 'Freddie',
 'Fernanda',
 'Valery',
 'Regis',
 'Zaire',
 'Jakobe',
 'Thad',
 'Stacia',
 'Emely',
 'Eulalia',
 'Oliver',
 'Aurore',
 'Milagros',
 'Tyree',
 'Denis',
 'Francisqui',
 'Lissie',
 'Sebrina',
 'Almon',
 'Angelic',
 'Tillman',
 'Torrey',
 'Zaid',
 'Ima',
 'Linnie',
 'Shelba',
 'Xena',
 'Angelique',
 'Thurman',
 'Ceola',
 'Broderick',
 'Len',
 'Pat',
 'Erasmo',
 'Zandra',
 'Bynum',
 'Nicole',
 'Debbi',
 'Hideo',
 'Octave',
 'Florine',
 'Arminta',
 'Nicholaus',
 'Kristoffer',
 'Ilah',
 'Cynthia',
 'Abbie',
 'Don',
 'Sue',
 'Kevan',
 'Ayden',
 'Sherron',
 'Elinor',
 'Allyssa',
 'Angelita',
 'Karissa',
 'Thurlow',
 'Roseanna',
 'Morris',
 'Creola',
 'Randi',
 'Joella',
 'Hildur',
 'Icie',
 'Henry',
 'Doshia',
 'Kinsey',
 'Jon',
 'Kylee',
 'Park',
 'Lori',
 'Vessie',
 'Casper',
 'Arland',
 'Luster',
 'Anson',
 'Christion',
 'Karyme',
 'Betsy',
 'Jiles',
 'Gerald',
 'Nolan',
 'Brigid',
 'Micky',
 'Melodee',
 'Zaiden',
 'Jones',
 'Jaunita',
 'Miriah',
 'Alzina',
 'Renita',
 'Kylene',
 'Shaquan',
 'Sunshine',
 'Geoff',
 'Vander',
 'Josiephine',
 'Magen',
 'Corrine',
 'Shania',
 'Bryce',
 'Halley',
 'Alyssia',
 'Giovanni',
 'Armand',
 'Audley',
 'Julie',
 'Hazelle',
 'Corliss',
 'Guss',
 'Lawton',
 'Jaiden',
 'Boyd',
 'Herma',
 'Elmira',
 'Eunice',
 'Manerva',
 'Branden',
 'Wenzel',
 'Reina',
 'Eliot',
 'Aleck',
 'Dayana',
 'Eston',
 'Suzanne',
 'Breanna',
 'Keshia',
 'Lorie',
 'Justine',
 'Guilford',
 'Mathias',
 'Freda',
 'Littie',
 'Loyal',
 'Loni',
 'Biddie',
 'Soloman',
 'Joetta',
 'Victorine',
 'Jaqueline',
 'Ragna',
 'Sommer',
 'Tahj',
 'Tristian',
 'Delphin',
 'Olar',
 'Lennon',
 'Omari',
 'Thor',
 'Barrett',
 'Alexandria',
 'Anton',
 'Courtland',
 'Cicero',
 'Elaine',
 'Carnell',
 'Cayden',
 'Rich',
 'Arnav',
 'Patric',
 'Arletta',
 'Tatyana',
 'Zela',
 'Salome',
 'Gwyn',
 'Hosie',
 'Kermit',
 'Shaniqua',
 'Lorri',
 'Otto',
 'Evelina',
 'Vina',
 'Velva',
 'Cinnamon',
 'Mimi',
 'Lindell',
 'Quinten',
 'Malaki',
 'Isadore',
 'Haley',
 'Benny',
 'Rhianna',
 'Lizzie',
 'Tami',
 'Luc',
 'Mordechai',
 'Aliza',
 'Graydon',
 'Marshal',
 'Oral',
 'Edmonia',
 'Hamza',
 'Michelina',
 'Duwayne',
 'Charlottie',
 'Refugio',
 'Joye',
 'Parrish',
 'Charline',
 'Admiral',
 'Latesha',
 'Eugenia',
 'Tessie',
 'Sidney',
 'Williams',
 'Merrily',
 'Carroll',
 'Thomas',
 'Venie',
 'Randal',
 'Noel',
 'Gaylord',
 'Lamarcus',
 'Jordi',
 'Caron',
 'Jenna',
 'Irving',
 'Brennan',
 'Coen',
 'Bryn',
 'Ednah',
 'Lakisha',
 'Montserrat',
 'Reggie',
 'Caro',
 'Chet',
 'Kelby',
 'Marianne',
 'Frieda',
 'Milissa',
 'Beckham',
 'Myah',
 'Johathan',
 'Cathern',
 'Parker',
 'Patrick',
 'Gilman',
 'Rosanna',
 'Lillie',
 'Samual',
 'Audrina',
 'Bartley',
 'Conner',
 'Pam',
 'Winford',
 'Chyna',
 'Lyric',
 'Macey',
 'Pierce',
 'Shedrick',
 'Jordy',
 'Effie',
 'Dereon',
 'Jimmie',
 'Patty',
 'Efrain',
 'Dagny',
 'Maude',
 'Harvie',
 'Abie',
 'Eudora',
 'Jerusha',
 'Sloane',
 'Junius',
 'Laverne',
 'Fount',
 'Ludwig',
 'Dorr',
 'Jaquez',
 'Hermina',
 'Bambi',
 'Matilda',
 'Thresa',
 'Guthrie',
 'Chrystal',
 'Christel',
 'Hayleigh',
 'Miles',
 'January',
 'Penelope',
 ...}

In [31]:
uniq_baby_names = (set(baby_names['name']))